//colors
$white: #fff;
$blue: #09719b;
$blue-dark-light: #315568;
$blue-darker: #315568;
$blue-dark: #2f576a;
$blue-gray: #325566;
$gray-almost-white: #f8f9fa;
$gray-extra-light: #f2f2f3;
$gray-lighter: #a3c0cc;
$gray: #d9dbdc;
$gray-between-light-and-dark: #bbc2c7;
$gray-little-dark: #8e9297;
$gray-darker: #424a52;
$navbar-default-color: #f0f0f1;
$black: #000;
$black-lighter: #262b2f;
$green: #d5e20f;
$white-light-green: #fafbfb;
$white-green: #f6faf3;
$white-almost: #f7f8f9;
$off-white: #f5f5f5;
$off-gray: #434a51;
$light-off-gray: #8fa2ab;
$gray-border: #979797;
$gray-placeholder: #cecece;


$blue-off: #09719b;

//fonts
$font-weight-max-bold: 900;
$font-weight-more-bold: 600;
$font-weight-bold: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-extra-weight-light: 200;

$font-extra-big-size: 40px;
$section-title-font-size: 26px;
$section-title-font-size-smaller: 20px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-normal-smaller: 15px;
$font-size-small: 14px;
$font-size-smaller: 13px;
$font-size-smallest: 12px;

// spaces
$padding-between-sections: 100px;
$padding-between-pictures: 50px;
$margin-bottom-between-paragraphs: 30px;
$space-bottom-between-elements: 20px;
$space-between-elements: 18px;

// constants
$big-shape-width: 300px;
$big-shape-half-width: 150px;

$small-shape-width: 150px;
$small-shape-half-width: 70px;
// override bootstrap

//navbar
$navbar-height: 60px;
$navbar-border-radius: 0;
$navbar-default-bg: $white;
$navbar-default-border: $gray;
$navbar-padding-horizontal: 22px;
$navbar-padding-horizontal-small: 15px;
$navbar-default-link-color: $blue;
$navbar-default-link-active-color: $black;
$navbar-default-link-active-bg: inherit;
$navbar-default-toggle-border-color: $white;
$navbar-default-toggle-icon-bar-bg: $blue;
$navbar-default-toggle-hover-bg: $white;

//Positions
$hexagon-top-position: 100px;
$hexagon-left-position: 50px;

// general
$font-size-base: 15px !default;

$font-family-sans-serif: 'Montserrat', sans-serif;
$text-color: $black;

$fa-font-path:   './fonts/';

// commit page variables
$commit-number-width: 35px;
$commit-number-margin: 25px;
$commit-number-combined: $commit-number-width + $commit-number-margin;
