//colors
$white: #fff;

$blue: #09719B;
$blue-darker: #315568;

$gray-lighter: #A3C0CC;
$gray: #D9DBDC;
$gray-darker: #424A52;

$black: #000;

//fonts
$font-weight-bold: 500;

// override bootstrap

//navbar
$navbar-height: 60px;
$navbar-border-radius: 0px;
$navbar-default-bg: $white;
$navbar-default-border: $gray;
$navbar-padding-horizontal: 22px;
$navbar-padding-horizontal-small: 15px;
$navbar-default-link-color: $blue;
$navbar-default-link-active-color: $black;
$navbar-default-link-active-bg: inherit;

// general
$font-size-base: 15px !default;

$font-family-sans-serif: "Montserrat", sans-serif;
$text-color: $black;

$fa-font-path:   "./fonts/";