//colors
$white: #fff;

$blue: #09719B;
$blue-darker: #315568;

$gray-lighter: #A3C0CC;
$gray: #D9DBDC;
$gray-darker: #424A52;

$black: #000;
$green: #D5E20F;
$white-green: #F6FAF3;
$off-white: #d9dbdc;
//fonts
$font-weight-more-bold: 600;
$font-weight-bold: 500;
$font-weight-normal: 400;
$font-weight-light: 200;

$section-p-font-size: 16px;
$section-title-font-size: 26px;

// spaces
$padding-between-sections: 70px;
$padding-between-pictures: 50px;
$margin-bottom-between-paragraphs: 30px;
$space-bottom-between-elements: 20px;

// constants
$big-shape-width: 300px;
$big-shape-half-width: 150px;

$small-shape-width: 150px;
$small-shape-half-width: 70px;
// override bootstrap

//navbar
$navbar-height: 60px;
$navbar-border-radius: 0px;
$navbar-default-bg: $white;
$navbar-default-border: $gray;
$navbar-padding-horizontal: 22px;
$navbar-padding-horizontal-small: 15px;
$navbar-default-link-color: $blue;
$navbar-default-link-active-color: $black;
$navbar-default-link-active-bg: inherit;

// general
$font-size-base: 15px !default;

$font-family-sans-serif: "Montserrat", sans-serif;
$text-color: $black;

$fa-font-path:   "./fonts/";