//colors
$white: #fff;

$blue: #09719B;
$blue-dark-light:#315568;
$blue-darker: #315568;
$blue-dark: #2F576A;
$blue-gray: #325566;
$gray-almost-white: #F8F9FA;
$gray-extra-light: #F2F2F3;
$gray-lighter: #A3C0CC;
$gray: #D9DBDC;
$gray-between-light-and-dark :#BBC2C7;
$gray-darker: #424A52;
$navbar-default-color:#f0f0f1;
$black: #000;
$green: #D5E20F;
$white-green: #F6FAF3;
$off-white: #d9dbdc;

//fonts
$font-weight-max-bold: 900;
$font-weight-more-bold: 600;
$font-weight-bold: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-extra-weight-light: 200;

$font-extra-big-size: 40px;
$section-title-font-size: 26px;
$section-title-font-size-smaller: 20px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-smaller: 13px;
$font-size-smallest: 12px;

// spaces
$padding-between-sections: 70px;
$padding-between-pictures: 50px;
$margin-bottom-between-paragraphs: 30px;
$space-bottom-between-elements: 20px;
$space-between-elements : 18px;
// constants
$big-shape-width: 300px;
$big-shape-half-width: 150px;

$small-shape-width: 150px;
$small-shape-half-width: 70px;
// override bootstrap

//navbar
$navbar-height: 60px;
$navbar-border-radius: 0px;
$navbar-default-bg: $white;
$navbar-default-border: $gray;
$navbar-padding-horizontal: 22px;
$navbar-padding-horizontal-small: 15px;
$navbar-default-link-color: $blue;
$navbar-default-link-active-color: $black;
$navbar-default-link-active-bg: inherit;
$navbar-default-toggle-border-color: $white;
$navbar-default-toggle-icon-bar-bg: $blue;
$navbar-default-toggle-hover-bg: $white;

//Positions
$hexagon-top-position: 70px;
$hexagon-left-position: 15px;

// general
$font-size-base: 15px !default;

$font-family-sans-serif: "Montserrat", sans-serif;
$text-color: $black;

$fa-font-path:   "./fonts/";
