.table {
  margin: 15px 0;
  width: 100%;

  th,
  td {
    padding: 10px;
  }
}

.use-column {
  cursor: pointer;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  &::before,
  &::after {
    display: none;
  }
}
