.table {
  width: 100%;
  margin: 15px 0;

  th, td {
    padding: 10px;
  }
}

.use-column {
  text-align: center;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  &::before, &::after {
    display: none;
  }
}
