@import '../../common/sass/variables';

.aftermath {
  .info-box {
    margin-top: 15px;

    .header {
      font-size: $font-size-normal;
    }

    .caption {
      font-size: $font-size-smallest;
    }

    .value {
      font-size: $font-size-normal;
    }
  }
}