@import "../../common/sass/variables.scss";

.brand {
  height: 44px;
  width: 110px;
  background: url(../../page/assets/NeuFund_icon_white.png);
  background-size: 30px;
  background-repeat: no-repeat;
  margin-top: 10px;
  padding: 0;
  border-right: 1px solid $white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-position-y: center;
  background-position-x: 60px;
}

.header {
  background: linear-gradient($blue-dark 2.36%, $blue-gray 100%);
  border-color: $white;
  border: 0;
}

.commit {
   margin-left: 10px;
   color: $white;
   font-weight: $font-weight-normal;
   font-family: $font-family-sans-serif;
}
