@import '../../common/sass/variables';

.container {
  font-size: 12px;

  a {
    color: #A3C0CC;
    text-decoration: underline;
  }

  p {
    margin-bottom: 13px;
  }

  h3 {
    font-size: 20px;
  }

  .textCopyable {
    font-size: 15px;
  }
}
