@import '../../common/sass/variables';

.brand {
  margin-top: 10px;
  border-right: 1px solid $white;
  background: url('../../page/assets/NeuFund_icon_white.png');
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 110px;
  height: 44px;
  background-position-y: center;
  background-position-x: 60px;
}

.header {
  border: 0;
  border-color: $white;
  background: linear-gradient($blue-dark 2.36%, $blue-gray 100%);
}

.commit {
  margin-left: 10px;
  color: $white;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
}
