@import '../../common/sass/variables';

.text-copyable {
  font-size: 22px;
}

.info-container {
  border-radius: 10px;
  background: linear-gradient(145deg, #F2F9EB 0%, #F8F9FA 100%);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  padding: 20px;
  font-size: $font-size-smallest;
}

.gasSection {
  .text-copyable {
    font-size: $font-size-small;
  }
}

.estimation-component {
  font-size: $font-size-smallest;

  .description {
    color: $gray-little-dark;
  }
}

.content-row {
  margin-top: 30px;
}
