@import '../../common/sass/variables';

.container {
  font-size: 12px;

  a {
    text-decoration: underline;
    color: $gray-lighter;
  }

  p {
    margin-bottom: 13px;
  }

  h3 {
    font-size: 20px;
  }

  .text-copyable {
    font-size: 15px;
  }
}
