@import '../../common/sass/variables';

.form-container {
  width: calc(100% - 83px);
  margin-bottom: 83px;
  position: relative;
}

.form-body {
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
  background: linear-gradient(143.71deg, #09719B 0%, #09719B 2.36%, #424A52 100%); // daj prawidlowa wartosc
  padding: 20px;

  .reward {
    color: $white;
  }

  .amount {
    color: $white;
    font-size: 18px;

    .currency {
      text-transform: capitalize;
      font-size: 14px;
      font-weight: $font-weight-light;
    }
  }

  .description {
    color: #A3C0CC;
  }
}

.form-submit {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .13);
  background-color: #A3C0CC;
  cursor: pointer;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: $blue-dark-light;
  font-weight: $font-weight-bold;
}

.hex {
  display: block;
  width: 365px;
  height: 365px;
  position: absolute;
  right: -83px;
  bottom: -83px;
  z-index: -1;
}
