@import '../../common/sass/variables';

.link {
  margin-top: 5px;
  margin-left: -4px;

  &:global(.active):hover { // sass-lint:disable-line force-pseudo-nesting
    cursor: pointer;

    :local(.label) {
      text-decoration: underline;
    }
  }
}

.icon {
  margin-right: 10px;
  line-height: 22px;
  color: $green;
  font-size: 20px;
}

.label {
  position: relative;
  bottom: 5px;
  color: $blue;
  font-weight: $font-weight-bold;
}

.loading-indicator {
  display: inline-block;
  position: absolute;
  margin: 0;
  margin-left: 7px;
  width: 20px;
  height: 20px;
}

.error {
  position: relative;
  bottom: 5px;
  left: 8px;
  color: $red;
  font-size: $font-size-small;
}
