@import "../../common/sass/variables.scss";
.duringIco {
    .timeLeftContainer{
        p, div {
            float: left;
        }    
        .timeLeft{
            margin-right: 10px;
        }
        .label {
            color: black;
            font-size: $font-size-small;
            font-weight: $font-weight-light;
            margin-right: 5px;
        }
        .value{
            color: black;
            font-size: $font-size-medium;
            margin-right: $space-between-elements;
        }
    }
    .text{
        p{
            padding-right: 0px;    
            margin: 0px;        
        }
        span, p{
            font-weight: $font-extra-weight-light;
        }
        .title{
            margin-bottom: 0px;
            font-size: $font-size-small;
            color: white;
        }
        .content{
            margin-bottom: $space-between-elements; 
        }
        .extraSize{
            font-size: $font-extra-big-size;
        }
    }    
}
