@import "../../page/sass/variables.scss";

.hex-container {
    position: relative;
}

.hex-container-text {
    position: absolute;
    top: 95px;
    left: 15px;
    color: $blue-darker;
    p {
        font-size: 13px;
    }
    h1 {
        text-align: center;
        margin-top: 5px;
    }
}

.hexagon-blue {
    transform: rotate(30deg);
    position: absolute;
}

.hexagon-white {
    top: -11px;
    left: -19px;
    transform: rotate(19deg);
    position: absolute;
}