@import '../../common/sass/variables';

.hex-container {
  position: relative;
}

.hex-container-text {
  position: absolute;
  top: $hexagon-top-position;
  left: $hexagon-left-position;
  color: $blue-darker;

  p {
    font-size: $font-size-smaller;
  }

  h1 {
    margin-top: 5px;
    text-align: center;
  }
}

.hexagon-blue {
  position: absolute;
  animation: breathing-blue 20s ease-in-out infinite normal;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
}

.hexagon-white {
  position: absolute;
  top: -11px;
  left: -19px;
  animation: breathing 20s ease-out infinite normal;
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
}

@keyframes breathing {
  100% {
    transform: rotate(15deg) scale(1);
  }

  75% {
    transform: rotate(5deg) scale(1.08);
  }

  60% {
    transform: rotate(0deg) scale(1.08);
  }

  25% {
    transform: rotate(5deg) scale(1.05);
  }

  0% {
    transform: rotate(15deg) scale(1);
  }
}

@keyframes breathing-blue {
  100% {
    transform: rotate(20deg) scale(1);
  }

  60% {
    transform: rotate(17deg) scale(1.08);
  }

  25% {
    transform: rotate(25deg) scale(1.05);
  }

  0% {
    transform: rotate(20deg) scale(1);
  }
}
