@import "../../common/sass/variables.scss";
.hex-container {
    position: relative;
}

.hex-container-text {
    position: absolute;
    top: 95px;
    left: 15px;
    color: $blue-darker;
    p {
        font-size: 13px;
    }
    h1 {
        text-align: center;
        margin-top: 5px;
    }
}

.hexagon-blue {
    -webkit-animation: breathing-blue 20s ease-in-out infinite normal;
    animation: breathing-blue 20s ease-in-out infinite normal;
    -webkit-font-smoothing: antialiased;
    position: absolute;
}

.hexagon-white{
    -webkit-animation: breathing 20s ease-out infinite normal;
    animation: breathing 20s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    top: -11px;
    left: -19px;
    position: absolute;
}

@keyframes breathing {
  100% {
    transform: rotate(15deg) scale(1);
  }

  75% {
    transform: rotate(5deg) scale(1.08);
  }

  60% {
    transform: rotate(0deg) scale(1.08);
  }

  25% {
    transform: rotate(5deg) scale(1.05);
  }

  0% {
    transform: rotate(15deg) scale(1);
  }
}

@keyframes breathing-blue {
  100% {
    transform: rotate(20deg) scale(1);
  }

  60% {
    transform: rotate(17deg) scale(1.08);
  }

  25% {
    transform: rotate(25deg) scale(1.05);
  }

  0% {
    transform: rotate(20deg) scale(1);
  }
}
