@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';  // sass-lint:disable-line clean-import-paths
@import '../../common/sass/variables';

.incentive {
  padding-top: $space-bottom-between-elements;
  padding-bottom: 80px; // @note: that should be decresed when missing button is finally on the desings

  h1 {
    margin-top: $margin-bottom-between-paragraphs;
    color: $gray-darker;
  }

  p {
    margin-top: $margin-bottom-between-paragraphs;
    @media (min-width: $screen-lg) {
      padding-right: 160px;
    }
  }

  a {
    font-weight: $font-weight-more-bold;
  }

  button {
    margin-top: $margin-bottom-between-paragraphs;

    @media (max-width: $screen-sm) {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
