// @todo how to avoid including it many times?
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../../common/sass/variables.scss";

.incentive {
    padding-top: $space-bottom-between-elements;

    h1 {
        margin-top: $margin-bottom-between-paragraphs;
    }
    p {
        margin-top: $margin-bottom-between-paragraphs;
        @media (min-width : $screen-lg) {
            padding-right: 160px;
        }
    }
    a {
      font-weight: $font-weight-more-bold;
    }
    button {
        margin-top: $margin-bottom-between-paragraphs;
        @media (max-width: $screen-sm) {
            margin-left:auto;
            margin-right:auto;
            display:block;
        }
    }
}
@media (min-width: $screen-sm){
  .time{
    margin-left: 32px;
  }
  .goto{
    margin-left: 90px;
  }
}
.text {
  margin-top: -10px;
}
.hexagons {
    top: 45px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    height: 350px;
    width: 300px;
}

.countdown{
    font-size: $font-size-normal;
    text-align: center;

    .label {
      margin-right: 10px;
      font-size: $font-size-small;
      vertical-align: middle;
      line-height: 20px;
    }

    .value {
      font-size: 15px;
      margin-right: 15px;
      vertical-align: middle;
      line-height: 20px;
    }

  h3 {
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    padding: 0;
  }
}
