// @todo how to avoid including it many times?
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables'; // sass-lint:disable-line clean-import-paths
// sass-lint:disable-line clean-import-paths
@import '../../common/sass/variables';

@media (min-width: $screen-sm) {
  .time {
    margin-left: 32px;
  }

  .goto {
    margin-left: 90px;
  }
}

.text {
  margin-top: -10px;
}

.hexagons {
  display: block;
  top: 45px;
  margin-right: auto;
  margin-left: auto;
  width: 480px;
  height: 480px;
}

.countdown {
  text-align: left;
  font-size: $font-size-normal;

  @media (min-width: $screen-sm-min) {
    position: relative;
    top: 18px;
  }

  .label {
    margin-right: 10px;
    vertical-align: middle;
    line-height: 20px;
    font-size: $font-size-small;
  }

  .value {
    margin-right: 15px;
    vertical-align: middle;
    line-height: 20px;
    font-size: 15px;
  }

  h1 {
    text-align: left;
  }

  h3 {
    padding: 0;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }

  .ico-time-start {
    font-size: $section-title-font-size;
    font-weight: $font-weight-max-bold;
  }
}

.pulldown {
  margin-top: 15px;
}

.time-left {
  h3 {
    float: left;
    margin: 0;
    margin-top: 4px;
    margin-right: 20px;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }

  .count-down-container {
    float: left;
  }
}
