// @todo how to avoid including it many times?
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../../common/sass/variables.scss";

@media (min-width: $screen-sm){
  .time{
    margin-left: 32px;
  }
  .goto{
    margin-left: 90px;
  }
}
.text {
  margin-top: -10px;
}
.hexagons {
    top: 45px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    height: 350px;
    width: 300px;
}

.countdown{
    font-size: $font-size-normal;
    text-align: center;

    .label {
      margin-right: 10px;
      font-size: $font-size-small;
      vertical-align: middle;
      line-height: 20px;
    }

    .value {
      font-size: 15px;
      margin-right: 15px;
      vertical-align: middle;
      line-height: 20px;
    }

  h3 {
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    padding: 0;
  }

}
.pulldown {
  margin-top: 15px;
}
