// @todo how to avoid including it many times?
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';  // sass-lint:disable-line clean-import-paths
@import '../../common/sass/variables';

@media (min-width: $screen-sm) {
  .time {
    margin-left: 32px;
  }

  .goto {
    margin-left: 90px;
  }
}

.text {
  margin-top: -10px;
}

.hexagons {
  display: block;
  top: 45px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 350px;
}

.countdown {
  text-align: center;
  font-size: $font-size-normal;

  .label {
    margin-right: 10px;
    vertical-align: middle;
    line-height: 20px;
    font-size: $font-size-small;
  }

  .value {
    margin-right: 15px;
    vertical-align: middle;
    line-height: 20px;
    font-size: 15px;
  }

  h3 {
    padding: 0;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }
}

.pulldown {
  margin-top: 15px;
}
