@import '../../common/sass/variables';

.modal {
  :global(.modal-body) {
    height: 65vh;
  }
}

.checkboxes {
  text-align: left;
}

.checkbox {
  margin-top: 15px;
}

.document-accent {
  font-weight: $font-weight-more-bold;
}

.document-frame {
  border: 0;
  width: 100%;
}

.scrollable {
  height: calc(100%);
  overflow-y: scroll;
}

.placeholder {
  background-color: #f0ad4e;
  padding: 4px 4px;
  border-radius: .25em;
  color: white;
  font-family: Helvetica;
  width: 119px;
  width: 111px;
  font-size: 10pt;
  font-weight: 600;
}
