// sass-lint:disable-line clean-import-paths
@import '../../common/sass/variables';

.subscribe-input {
  display: block;
  margin-bottom: 20px;
  border: 0;
  border-bottom: solid 1px $gray-border;
  width: 90%;
  text-indent: 9px;
  color: $gray-darker;

  &::-webkit-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
    color: $gray-placeholder;
  }

  &:-moz-placeholder { // sass-lint:disable-line no-vendor-prefixes
    color: $gray-placeholder;
  }

}

.cursor {
  position: absolute;
  color: $gray-placeholder;
  font-size: $font-size-normal;
  font-weight: $font-weight-bold;
}

.btn-submit {
  border-radius: 20px;
  box-shadow: 0 1px 1px 0 $gray-lighter;
  background-image: linear-gradient(106deg, $blue-off, $blue-off 2%, $black-lighter);
  color: $white;
  font-size: $font-size-normal-smaller;
  font-weight: $font-weight-normal;
}
