@import '../../common/sass/variables';

$spacing-from-container: 22px;

.estimation-component {
  padding-top: $spacing-from-container;
  font-size: $font-size-smallest;
  font-weight: $font-weight-light;

  h2 {
    color: $gray-darker;
    font-size: $section-title-font-size;
    font-weight: $font-weight-bold;
  }

  .introduction {
    margin-bottom: 0;
    color: $black-lighter;
    font-size: $font-size-smallest;
  }

  .right-container {
    width: 150px;
  }

  .loading-indicator {
    margin: 0;
    width: 20px;
    height: 20px;
  }

  .amount {
    display: inline-block;
    margin-right: 5px;
    width: 100px;
    overflow: hidden;
    vertical-align: middle;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
  }

  .currency-neu {
    margin-right: 5px;
    margin-left: 5px;
    font-size: $font-size-small;
  }

  .separator {
    margin-right: 5px;
    margin-left: 5px;
    font-size: $font-size-small;
  }

  .currency-eth {
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
  }

  .description {
    color: $light-off-gray;
    font-size: $font-size-smallest;
  }

  .urls {
    margin-top: 30px;

    a {
      display: block;
      margin-bottom: 5px;
      line-height: 1.2;
    }
  }
}

.estimation {
  display: flex;
  align-items: baseline;
}

.information {
  padding: 0;

  li {
    list-style: none;
    color: $black-lighter;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
  }
}

.pre-text-pargraph {
  color: $gray-darker;
  font-size: $font-size-normal;
}
