@import "../../common/sass/variables";

.text-style {
  font-weight: $font-weight-bold;
}

.icon-style {
  font-size: inherit;
  color: $green;
  margin-right: 0.5em; // TODO: this value should be set to correct value
  cursor: pointer;
}
