@import '../../common/sass/variables';

.user-address-container {
  position: relative;
  padding-left: 58px;
  line-height: 24px;
  font-size: $font-size-smallest;

  p {
    margin: 0;
  }
}

.value {
  font-size: $font-size-small;
}

.icon {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
