@import "../../common/sass/variables";

.user-address-container {
  position: relative;
  padding-left: 58px;
  font-size: $font-size-smaller;
  line-height: 24px;

  p {
    margin: 0;
  }
}

.address-style {
  font-size: $font-size-small;
}

.icon {
  position: absolute;
  top: 6px;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
