<div class="section people advisors">
  <div class="row">
    <div class="col-md-4">
      <h3 class="title"><%- title -%></h3>
      <p class="intro"><%- intro -%></p>
    </div>
    <div class="col-md-offset-1 col-md-7">
      <div class="row">
        <% for (var i = 0; i < members.length; i++) { %>
        <%- include('../blocks/person', members[i]) %>
        <% } %>
      </div>
    </div>
  </div>
</div>
