<div class="advisors section">

        <div class="row">
            <div class="col-md-5">
                <div class="has-carousel lazyLoad">
                    <div>
                        <h3>Advisors</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "</p>
                        <div class="signature">
                            <h4>John Smith</h4>
                            <h6>Company name</h6>
                        </div>
                    </div> <!--end advisor -->
                    <div>
                        <h3>Advisors</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "</p>
                        <div class="signature">
                            <h4>John Smith</h4>
                            <h6>Company name</h6>
                        </div>
                    </div> <!--end advisor -->


                </div> <!-- end carousel -->
                    
            </div>
            <div class="col-md-7">
                <div class="row person-info-container">
                    <% for (var i = 0; i < 4; i++) { %>
                        <%- include('../blocks/person', {name : "John Smith", title:"Capital Name", image:"../assets/mostafabalatabw.jpg"}) %>
                    <% } %>
                </div><!-- End row -->                           
            
            </div>
        </div>                
</div>