<div class="container advisors">

        <div class="row">
            <div class="col-md-5">
                <div class="has-carousel lazyLoad">
                    <div>
                        <h3>Advisors</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "</p>
                        <div class="signature">
                            <h3>John Smith</h3>
                            <h6>Company name</h6>
                        </div>
                    </div> <!--end advisor -->
                    <div>
                        <h3>Advisors</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "</p>
                        <div class="signature">
                            <h3>John Smith</h3>
                            <h6>Company name</h6>
                        </div>
                    </div> <!--end advisor -->


                </div> <!-- end carousel -->
                    
            </div>
            <div class="col-md-7">

                <div class="row person-info-container">
                    <div class="col-md-6 person-info-container">
                        <div class="person-info">
                            <img class="rounded-image" src="../assets/mostafabalatabw.jpg"/>
                            <div class="person-details">
                                <h4 class="name"><a href="#" >John Smith</a></h4>
                                <h4 >Capital name</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 person-info-container">
                        <div class="person-info">
                            <img class="rounded-image" src="../assets/mostafabalatabw.jpg"/>
                            <div class="person-details">
                                <h4 class="name"><a href="#" >John Smith</a></h4>
                                <h4 >Capital name</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 person-info-container">
                        <div class="person-info">
                            <img class="rounded-image" src="../assets/mostafabalatabw.jpg"/>
                            <div class="person-details">
                                <h4 class="name"><a href="#" >John Smith</a></h4>
                                <h4 >Capital name</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 person-info-container">
                        <div class="person-info">
                            <img class="rounded-image" src="../assets/mostafabalatabw.jpg"/>
                            <div class="person-details">
                                <h4 class="name"><a href="#" >John Smith</a></h4>
                                <h4 >Capital name</h4>
                            </div>
                        </div>
                    </div>
                </div><!-- End row -->                           
            
            </div>
        </div>                
</div>