<div class="section people advisors" id="advisors">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2><%- title -%></h2>
        <p class="intro"><%- intro -%></p>
      </div>
      <div class="col-md-offset-1 col-md-6">
        <div class="row people-row">
          <% for (var i = 0; i < members.length; i++) { %>
          <%- include('../blocks/person', members[i]) %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
