<div class="commit-funds section">
        <div class="row">
            <div class="col-md-6">
                <div class="number">
                    01
                </div>
                <div class="content">
                    <h3><%- title1 -%></h3>
                        <p><%- paragraph1 -%></p>
                        <p><%- paragraph2 %></p>
                </div>
            </div> <!-- end col-md-6 -->

            <div class="col-md-6">
                <div class="number">
                    02
                </div>
                <div class="content">
                    <h3>Reward: Neumarks<br/> = Share in the Ecosystem</h3>
                    <p>
                      When you commit funds you get a reward,
                      the Neumark token. By owning Neumarks you
                      own a share of the ecosystem, you have a
                      right to its revenue and to the Neufund
                      Platform portfolio. You actively increase
                      its value by investing in startups.
                    </p>
                    <p>
                       <strong>The sooner you commit your funds the higher your reward.</strong>
                        You can capitalize on Neumarks
                        by hodling them to receive revenue
                        or by trading them on the market.
                   </p>
                </div>
            </div> <!-- end col-md-6 -->
        </div>
</div>
