<div class="commit-funds section">
        <div class="row">
            <div class="col-md-6">            
                <div class="number">
                    &nbsp;&nbsp;&nbsp;&nbsp;01
                </div>
                <div class="content">
                    <h3>Commit Funds<br/> ≠ Invest nor Buy </h3>

                    <p>
                    You stay in control of all your committed funds. 
                    You decide in which startups you will invest your 
                    funds in the future. The Neufund Platform’s goal 
                    is to make many investment opportunities available.
                    </p>
                    <p>Fifth Force, the Platform operator,
                        cultivates the decentralised investment
                        ecosystem by kickstarting the startup 
                        deal flow and providing legal & technical 
                        infrastructure. <strong>It does not manage 
                        your funds for you.</strong>                   
                    </p>
                </div>
            </div> <!-- end col-md-6 -->

            <div class="col-md-6">
                <div class="number">
                    &nbsp;&nbsp;&nbsp;&nbsp;02
                </div>
                <div class="content">
                    <h3>Reward: Neumarks<br/>
= Share in the Ecosystem</h3>

                    <p>
                    When you commit funds you get a reward,
                     the Neumark token. By owning Neumarks you 
                     own a share of the ecosystem, you have a 
                     right to its revenue and to the Neufund 
                     Platform portfolio. You actively increase
                      its value by investing in startups.
                    </p>
                    <p>
                       <strong>The sooner you commit your funds the higher your reward.</strong>
                        You can capitalize on Neumarks 
                        by hodling them to receive revenue
                        or by trading them on the market.                   
                   </p>
                </div>
            </div> <!-- end col-md-6 -->
        </div>                
</div>