<div class="section">
  <div class="ecosystem">
    <div class="row">
      <img class="logo" src="./assets/NeuFund_logo_full_white_72dpi Copy 4@3x.png" />
      <h3>Neufund's Ecosystem Impact</h3>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p class="padme" class="content">Neunfund's effort goes into building a mature ecosystem able to contain all the amazing technological and legal innovation
          etc.
        </p>
        <div class="goto-element">Go to:</div>
        <ul>
          <li><a href="#">Neufunds Ecosystem Impact Page</a></li>
          <li><a href="#">Neufunds Mediem Channel</a></li>
        </ul>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6">
            <div class="text-box"> 
              <h5>Technology</h5>
              <div class="underline"></div>
              <div class=subtitle><a href="#"> Ethereum Impovment Proposal</a></div>
            </div> <!-- end text box -->

            <div class="text-box"> 
              <h5>Regulatory Efforts</h5>
              <div class="underline"></div>
              <div class=subtitle><a href="https://neufund.org/esop" target="_blank">Employe Stock Option Plan</a></div>              
            </div> <!-- end text box -->
          </div>

          <div class="col-md-6">
            <div class="text-box"> 
              <h5>Social impact</h5>
              <div class="underline"></div>
              <div class=subtitle><a href="https://icomonitor.io" target="_blank"> ICO Trancparancy Monitor</a></div>              
            </div> <!-- end text box -->

            <div class="text-box"> 
              <h5>Regulatory Efforts</h5>
              <div class="underline"></div>
              <div class=subtitle><a href="https://blockchainpolicy.org/" target="_blank">Blockchain Policy Initiatieve</a></div>
            </div> <!-- end text box -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>