<div class="section">
  <div class="ecosystem">
        <div class="row">
          <img class="logo" src="./assets/NeuFund_logo_full_white_72dpi Copy 4@3x.png" />
          <h3>Neufund's Ecosystem Impact</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
              <p class= "padme" style="content">Neunfund's effort goes into building a mature
               ecosystem able to contain all the amazing
               technological and legal innovation etc.</p>
              <div class="goto-element">Go to:</div>
              <ul>
              <li><a>Neufunds Ecosystem Impact Page</a></li>
              <li><a>Neufunds Mediem Channel</a></li>
            </ul>
          </div>

          <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                  <div class="text-box"> Technology
                    <div class="underline"></div>
                  </div>
                  <div class=subtitle>Ethereum Impovment Proposal</div>
                  <div class="text-box"> Regulatory Efforts
                    <div class="underline"></div>
                  </div>
                  <div class=subtitle>Employe Stock Option Plan</div>
                </div>

            <div class="col-md-6">
              <div class="text-box"> Social impact
                <div class="underline"/></div>
                </div>
                <div class=subtitle>ICO Trancparancy Monitor</div>
                <div class="text-box"> Regulatory Efforts
                  <div class="underline"/></div>
                </div>
                <div class=subtitle>Blockchain Policy Initiatieve</div>
              </div>
          </div>
        </div>
      </div>
</div>
