<div class="ecosystem section">
        <div class="row">
            <img class="logo" src="./assets/NeuFund_logo_full_white_72dpi Copy 4@3x.png" />
        </div>
        <div class="row">
            <h3>Neufund's Ecosystem Impact</h3>
        </div>
        <div class="row">
          <div class="col-md-5">
              <p style="content">Neunfund's effort goes into building a mature
               ecosystem able to contain all the amazing <br>
               technological and legal innovation etc.</p>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-6">
                <div class="number">
                  Technology
                </div>
              </div>
              <div class="col-md-6">
                <div class="number">
                  Social impact
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
