<div class="ecosystem">
  <div class="section">
        <div class="row">
            <img class="logo" src="./assets/NeuFund_logo_full_white_72dpi Copy 4@3x.png" />
        </div>
        <div class="row">
            <h3>Neufund's Ecosystem Impact</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
              <p class= "padme" style="content">Neunfund's effort goes into building a mature <br>
               ecosystem able to contain all the amazing<br>
               technological and legal innovation etc.</p>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="text-box">
                  Technology
                  <div class="underline"></div>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <div class=subtitle>Ethereum <br>Impovment Proposal</div>
                  </div>
                </div>
              </div>
            <div class="col-md-6">
              <div class="text-box">
                Social impact
                <div class="underline"/></div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class=subtitle>ICO Trancparancy Monitor</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="goto-element">Go to:</div>
      </div>
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <div class="text-box">
                Regulatory Efforts
                <div class="underline"></div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class=subtitle>Employe Stock<br> Option Plan</div>
                </div>
              </div>
            </div>
          <div class="col-md-6">
            <div class="text-box">
              Regulatory Efforts
              <div class="underline"/></div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class=subtitle>Blockchain Policy Initiatieve</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
