<div class="footer-container">
    <div id="footer-hex" class="hexagon-wrapper">
        <div class="hexagon hexagon-white-green"></div>
    </div>
    
    <div class="section footer">
        <ul>
            <li><img src="../assets/techcrunchlogo2013.png" /></li>
            <li><img src="../assets/gt-conv-logo.png" /></li>       
            <li><img src="../assets/cointelegraph-1.png" /></li>        
            <li><img src="../assets/logo-300x77.png" /></li>        
            <li><img src="../assets/pymnts-1.png" /></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <span class="hander">@Fifth Force</span>
        <span class="email">neufund.org</span>
        <span class="email">icbm@neufund.org</span>

    </div>
</div>
