<div class="footer-container">
    <div id="footer-hex" class="hexagon-wrapper">
        <div class="hexagon hexagon-white-green"></div>
    </div>
    
    <div class="section footer">
        <ul>
            <li><a target="_blank" href="https://techcrunch.com/2017/01/17/neufund/" ><img src="../assets/techcrunchlogo2013.png" /></a></li>
            <li><a target="_blank" href="http://www.geektime.com/2017/01/17/berlin-cryptocurrency-hybrid-vc-neufund-raises-e2m-to-upend-startup-investing-as-we-know-it/" ><img src="../assets/gt-conv-logo.png" /></a></li>       
            <li><a target="_blank" href="https://cointelegraph.com/news/icos-are-the-future-of-funding-says-co-founder-of-platform-that-just-raised-2-mln" ><img src="../assets/cointelegraph-1.png" /></a></li>        
            <li><a target="_blank" href="http://www.the-blockchain.com/2017/01/21/berlins-neufund-blockchain-fundraising-platform-raises-2-million/" ><img src="../assets/logo-300x77.png" /></a></li>        
            <li><a target="_blank" href="http://www.pymnts.com/blockchain/2017/blockchain-tracker-bridging-gaps/" ><img src="../assets/pymnts-1.png" /></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <span class="hander">@Fifth Force</span>
        <a class="email" traget="_blank" href="https://neufund.org">neufund.org</a>
        <a class="email" href="mailto:icbm@neufund.org">icbm@neufund.org</a>
    </div>
</div>
