<div class="footer">
    <ul>
        <li><img src="http://www.racinedowntown.com/newwebsite/wp-content/uploads/2015/08/no_photo_listing.jpg" /> </li>
        <li><img src="http://www.racinedowntown.com/newwebsite/wp-content/uploads/2015/08/no_photo_listing.jpg" /> </li>
        <li><img src="http://www.racinedowntown.com/newwebsite/wp-content/uploads/2015/08/no_photo_listing.jpg" /> </li>
        <li><img src="http://www.racinedowntown.com/newwebsite/wp-content/uploads/2015/08/no_photo_listing.jpg" /> </li>
        <li><img src="http://www.racinedowntown.com/newwebsite/wp-content/uploads/2015/08/no_photo_listing.jpg" /> </li>
    </ul>

    <div class="gray-space"></div>
</div>