<div class="footer">
    <ul>
        <li><img src="../assets/techcrunchlogo2013.png" /></li>
        <li><img src="../assets/pymnts-1.png" /></li>
        <li><img src="../assets/logo-300x77.png" /></li>
        <li><img src="../assets/gt-conv-logo.png" /></li>
        <li><img src="../assets/cointelegraph-1.png" /></li>
    </ul>

    <div class="gray-space"></div>
</div>