<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Neufund bridges blockchain and venture capital enabling ICOs for on- and off-chain startups. Reserve funds today for your future investments. Maintain full control of your investment decisions." />
    <meta name="keywords" content="neufund, ico, neumark, venture capital, ethereum, startup, blockchain" />
    <meta name="robots" content="/robots.txt" />

    <meta property="og:title" content="Neufund |  <%= title %>" />
    <meta property="og:image" content="assets/social_logo.png" />
    <meta property="og:url" content="http://neufund.org/" />

    <meta name="twitter:card" content="assets/social_logo.png" />
    <meta name="twitter:site" content="@neufundorg" />
    <meta name="twitter:title" content="Neufund |  <%= title %>" />
    <meta name="twitter:description" content="Neufund bridges blockchain and venture capital enabling ICOs for on- and off-chain startups. Reserve funds today for your future investments. Maintain full control of your investment decisions." />
    <meta name="twitter:image" content="Neufund | <%= title %>" />

    <link rel="shortcut icon" href="assets/favicon_neufund.ico" />

    <title>Neufund | <%= title %></title>

    <link rel="stylesheet" type="text/css" href="app.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>