<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Neufund’s vision is to invite everyone to join the bootstrapping of a new two-sided marketplace and an investment ecosystem, and to once and for all democratise innovation and creation." />
    <meta name="keywords" content="neufund, ico, neumark, venture capital, ethereum, startup, blockchain" />
    <meta name="robots" content="/robots.txt" />

    <meta property="og:title" content="Neufund | <%= title %>" />
    <meta property="og:image" content="assets/social_logo.png" />
    <meta property="og:url" content="https://commit.neufund.org" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Neufund’s vision is to invite everyone to join the bootstrapping of a new two-sided marketplace and an investment ecosystem, and to once and for all democratise innovation and creation." />

    <meta name="twitter:card" content="assets/social_logo.png" />
    <meta name="twitter:site" content="@neufundorg" />
    <meta name="twitter:title" content="Neufund | <%= title %>" />
    <meta name="twitter:description" content="Neufund’s vision is to invite everyone to join the bootstrapping of a new two-sided marketplace and an investment ecosystem, and to once and for all democratise innovation and creation." />
    <meta name="twitter:image" content="assets/social_logo.png" />

    <link rel="shortcut icon" href="assets/favicon_neufund.ico" />

    <title>Neufund | <%= title %></title>

    <link rel="stylesheet" type="text/css" href="app<%= hashes.cssBundleHash %>.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>