<nav class="navbar navbar-default navbar-fixed-top">
  <div class="background-wrapper-navbar">
      <div class="background"></div>
  </div>

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://neufund.org/"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<% if( active == 'commit' ) { %>active<% } %>"><a href="/">Commit</a></li>
        <% if(PLATFORM_ENABLED) { %>
          <li class="<% if( active == 'product' ) { %>active<% } %>"><a href="/product">Neufund Platform</a></li>
        <% } %>
        <li class="<% if( active == 'whitepaper' ) { %>active<% } %>"><a href="https://neufund.org/whitepaper/" target="_blank">Whitepaper</a></li>
        <li class="<% if( active == 'whitepaper' ) { %>active<% } %>"><a href="https://neufund.org/lightpaper/" target="_blank">Lightpaper</a></li>
        <li><div class="btn-wrapper hidden-sm"><a href="#depth" class="btn btn-link btn-white slim">More to read</a></div></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="<% if( active == 'faq' ) { %>active<% } %>"><a href="/faq">FAQ</a></li>
        <li><a href="https://www.facebook.com/neufundorg/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/neufundorg" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://goo.gl/KUj1fj" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
        <li><a href="https://t.me/neufund" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/Neufund/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://blog.neufund.org/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
