<div class="invest-platform section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2><%- title -%></h2>
                <p><%- paragraph -%></p>
                <a href="/product.html" class="btn btn-white">Product demo</a>
            </div>

            <div class="col-md-7">
                <%- include("../blocks/scaling-img", { path: "../assets/easy_access/Product_together", alt: "Product page", cls: "product-image img-responsive" }) %>
            </div>
        </div>
    </div>
</div>
