<div class="newsletter section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Newsletter</h2>
      </div>
      <div class="col-md-5">
      <p>If you want to stay up to date subscribe for our newsletter</p>
      </div>
      <div class="col-md-7">
        <form
          action="https://neufund.us14.list-manage.com/subscribe/post?u=c2bd93d42fef6e010809046de&amp;id=2d844e39be"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
        >
        <h4>Subscribe now to our newsletter</h4>
          <input
            id="mce-EMAIL"
            class="subscribe-input"
            type="email"
            name="EMAIL"
            placeholder="example@email.com"
          />
          <div aria-hidden="true" class="hidden-input">
            <input type="text" name="b_c2bd93d42fef6e010809046de_fa0fc41e50" tabIndex="-1" value="" />
          </div>
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="btn btn-primary subscribe-btn"
          />
        </form>

      </div> <!-- end col-6 -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</div> <!-- end section -->
