<div class="participating section">
    <div class="row">
        <div class="col-md-5">
            <div>
                <div>
                    <h3>What Do you Gain From Participating?</h3>
                    <p>
Neufund provides access to global high quality 
dealflow, with low transaction costs, transparency,
 and openess. You invest in great companies that 
 bring high Return On Investment.
</p>
<p>Startup equity is represented on the platform as
     tradable crypto tokens, which result in a liquid
      secondary market for your investments.</p>
                </div> 
            </div>                
        </div> <!-- end col-md-5 -->

        <div class="col-md-7">
        
        </div> <!-- end col-md-7 -->
    </div>                
</div>