<div class="section platform-overview">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Platform overview</h2>
      </div>
    </div>
    <div class="row feature-list">
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_ICBM", text: "Reserve funds during Neufund’s ICBM and get the platform’s token Neumark (NEU) for free", alt: "Reserve funds" } ); %>
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_ETO", text: "Invest in startups using your reserved funds to get their tokenized equity", alt: "Invest in the startupus" } ); %>
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_Profits", text: "Profit from owning the platform’s token Neumark by receiving the proceeds from equity token offerings", alt: "Profit from ownership" } ); %>
    </div>
  </div>
</div>
