<div class="section platform-overview">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>The Path To Join Neufund’s Ecosystem</h2>
      </div>
    </div>
    <div class="row feature-list">
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_ICBM", text: "Reserve funds during Neufund’s ICO and receive platform’s revenue token", alt: "Reserve funds" } ); %>
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_ETO", text: "Invest in the startups using reserved funds and get their tokenized shares", alt: "Invest in the startupus" } ); %>
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_Profits", text: "Gain earnings by owning the platform’s revenue token", alt: "Profit from ownership" } ); %>
    </div>
  </div>
</div>
