<div class="section platform-overview">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>3 steps to join the Neufund Platform</h2>
      </div>
    </div>
    <div class="row feature-list">
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_ICBM", text: "Reserve funds during Neufund’s Initial Capital Building Mechanism (ICBM) and receive platform’s participation token NEU", alt: "Reserve funds" } ); %>
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_ETO", text: "Invest in the companies with the funds reserved in the ICBM and get tokenized equity", alt: "Invest in the startupus" } ); %>
      <%- include('../blocks/feature', { imgPath: "../assets/platform-overview/Illu_OV_Profits", text: "Earn by holding or trading NEU after the ICBM", alt: "Profit from ownership" } ); %>
    </div>
  </div>
</div>
