<div class="section press">
    <ul>
        <% for ( var i = 0 ; i < links.length ; i++ ) { %>
        <li><a target="_blank" href="<%= links[i].link -%>" ><img src="<%= links[i].img -%>" /></a></li>
        <% } %>
    </ul>
</div>
