<div id="product-header" data-menu-text="<%- menu_text -%>">
  <div id="product-content">
    <div class="container" id="product-header-container">

      <div id="product-header-text">
        <h1><%- title -%></h1>
        <%- content -%>

        <div id="product-header-button-wrapper">
          <div id="product-header-button">
            <i class="fa fa-play-circle"></i>
          </div>
        </div>

      </div>

      <div id="product-header-img">
        <img src="assets/screenshots/CompanysICOProfile_3x.png" />
      </div>
    </div>
  </div>
</div>
