<div id="product-header" data-menu-text="<%- menu_text -%>">
  <div id="product-content">
    <div class="container" id="product-header-container">

      <div id="product-header-text">
        <h1><%- title -%></h1>
        <%- content -%>

        <!--<div id="product-header-button-wrapper">
          <div id="product-header-button">
            <i class="fa fa-play-circle"></i>
          </div>
        </div>-->

      </div>

      <div id="product-header-img">
        <img
          src="assets/screenshots/laptop.png"
          srcset="assets/screenshots/laptop_2x.png 1358w, assets/screenshots/laptop_3x.png 2037w"
        />
      </div>
    </div>
  </div>
</div>
