<div id="product-header">
  <div id="product-video-background">
    <div id="product-video-foreground">
      <iframe src="https://www.youtube.com/embed/<%- yt_video -%>?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=<%- yt_video -%>&modestbranding=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div id="product-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><%- title -%></h1>
          <%- content -%>
        </div>
      </div>
    </div>
  </div>
</div>
