<div
  class="section product product-image<% if (white===true) { %> bg-white<% } %>"
  <% if (bg_url) { %> style="background-image: url('<%- bg_url -%>')" <% } %>
>
  <div class="container">
    <div class="text-box">
        <h5><%- title -%></h5>
        <div class="underline"></div>
    </div> <!-- end text box -->

    <div class="img-wrapper">
        <img class="img-responsive" src="/assets/<%- image -%>" />
    </div>
  </div>
</div>
