<div id="product-header" data-menu-text="<%- menu_text -%>">
  <div id="product-content">
    <div class="container" id="product-header-container">

      <div id="product-header-text">
        <h1><%- title -%></h1>
        <%- content -%>

        <!--<div id="product-header-button-wrapper">
          <div id="product-header-button">
            <i class="fa fa-play-circle"></i>
          </div>
        </div>-->

      </div>

      <div id="product-header-img">
        <%- include("../blocks/hi-res-img", { path: "/assets/platform/header-notebook", alt: "Neufund Platform", cls: "img-responsive img-scroll" }) %>
      </div>
    </div>
  </div>
</div>
