<div
  class="section product product-image<% if (white===true) { %> bg-white<% } %>"
  <% if (bg_url) { %> style="background-image: url('<%- bg_url -%>')" <% } %>
>
  <div class="container">
    <% if (backgroundText!==undefined && backgroundText!=="") {%>
      <div class="background-text"><%- backgroundText -%></div>
    <% } %>
    <div class="text-box<% if (purple_title===true) { %> text-box-purple<% } %>">
        <h5><%- title -%></h5>
        <div class="underline"></div>
    </div> <!-- end text box -->

    <div class="img-wrapper">
        <img class="img-responsive" src="/assets/<%- image -%>" />
    </div>
  </div>
</div>
