<% if (white===true) { %>
<div class="section product product-image bg-white">
<% } else { %>
<div class="section product product-image">
<% } %>
  <div class="container">
    <div class="text-box">
        <h5><%- title -%></h5>
        <div class="underline"></div>
    </div> <!-- end text box -->

    <div class="img-wrapper">
        <img class="img-responsive" src="/assets/<%- image -%>" />
    </div>
  </div>
</div>
