<div id="blockchain-onboarding" data-menu-text="Blockchain onboarding" class="section product section-2">
  <div class="container">
    <div class="cf-row">
      <div class="cf-md-7">
        <div class="product-r3-row-wrapper">
          <div class="row">
            <div class="cf-md-7">
              <div class="text-box">
                <h5>Smooth blockchain on-boarding</h5>
                <div class="underline"></div>
              </div>
              <!-- end text box -->
              <h3>For blockchain beginners: We demistify blockchain</h3>
              <p>To open the process of Initial Coin Offerings to the broad audience we use simple and safe built-in wallets.
                We upgrade security with hardware wallets as your investment grows. You can become a part of the crypto world
                with a simple wire transfer. We teach you how to own your first crypto tokens. For our blockchain natives
                we integrated sign-in with Ledger Nano S and all kinds of web3 wallets.
              </p>

            </div>

            <div class="cf-md-5">
              <%- include("../blocks/hi-res-img", { path: "/assets/platform/0.ChooseOption", alt:"Blockchain onboarding", cls:"image"}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
