<div class="section section-product section-product-image">
    <div class="text-box">
        <h5><%- title -%></h5>
        <div class="underline"></div>
    </div> <!-- end text box -->

    <div class="img-wrapper">
        <img class="img-responsive" src="/assets/<%- image -%>" />
    </div>

</div>
