<div class="section whitepaper ecosystem">
    <div class="text-box">
        <h5>Coming soon</h5>
        <div class="underline"></div>
        <div class=subtitle>
            <a href="#" target="_blank" >Product</a>
        </div>
    </div> <!-- end text box -->
</div>       