<div class="team section">
    <div class="row">
        <div class="col-md-5">
            <div>
                <div>
                    <h3>Team</h3>
                    <p>Team of entrepereneurs and experienced professionals.</p>
                </div> 
            </div>                
        </div>
        <div class="col-md-7">

            <div class="row">
                <% for (var i = 0; i < 4; i++) { %>
                <div class="col-md-6 person-info-container" >
                    <div class="person-info">
                        <img class="rounded-image" src="../assets/mostafabalatabw.jpg"/>
                        <div class="person-details">
                            <h4 class="name"><a href="#" >Mostafa Balata</a></h4>
                            <h4 >Software developer</h4>
                        </div>
                    </div>
                </div>
                <% } %>
            </div> <!-- end row -->
            
            <div class="row">
                <% for (var i = 4; i < 10; i++) { %>
                <div class="col-md-6 person-info-container is-hidden hidden-picture" >
                    <div class="person-info">
                        <img class="rounded-image" src="../assets/mostafabalatabw.jpg"/>
                        <div class="person-details">
                            <h4 class="name"><a href="#" >Mostafa Balata</a></h4>
                            <h4 >Software developer</h4>
                        </div>
                    </div>
                </div>
                <% } %>
                
            </div><!-- End row -->                           
            
            <!-- see more -->
            <div>
                <button class="see-more">+ More </button>
            </div>
            <!-- /see more -->
        </div>
    </div>                
</div>