<div class="section team">
    <div class="row">
        <div class="col-md-4">
            <div>
                <div>
                    <h3 class="title"><%- title -%></h3>
                    <p class="intro"><%- intro -%></p>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-7 pictures-container">

            <div class="row">
                <% for (var i = 0; i < 4; i++) { %>
                <%- include(block, members[i]) %>
                <% } %>
            </div> <!-- end row -->

            <div class="row is-hidden hidden-picture">
              <% for (var i = 4; i < members.length; i++) { %>
                  <%- include('../blocks/person', members[i]) %>
              <% } %>
            </div><!-- End row -->

            <!-- see more -->
            <div>
                <button class="see-more">+ More </button>
            </div>
            <!-- /see more -->
        </div>
    </div>
</div>
