<div class="section people team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2><%- title -%></h2>
        <p class="intro"><%- intro -%></p>
      </div>
      <div class="col-md-offset-1 col-md-6">
        <div class="row people-row">
          <% for (var i = 0; i < 4; i++) { %>
          <%- include(block, members[i]) %>
          <% } %>
        </div>

        <div class="row hidden-team is-hidden hidden-picture">
          <% for (var i = 4; i < members.length; i++) { %>
          <%- include('../blocks/person', members[i]) %>
          <% } %>
        </div>

        <!-- see more -->
        <div>
          <button class="see-more">+ More</button>
        </div>
        <!-- /see more -->
      </div>
    </div>
  </div>
</div>
