<div class="section videos" id="videos">
  <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2>Videos</h2>
        </div>
      </div>

      <div class="youtube-videos">
        <div class="row">
          <div class="col-sm-8 video-container">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/M0Hhl27TPR4?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div> <!-- end 8 -->
          <div class="col-sm-4 video-container">
            <div class="row">
              <div class="col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.youtube.com/embed/WqIVimyWD8g?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.youtube.com/embed/i-3HwZEwojE?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div> <!-- end 4 -->
        </div>
        <div class="row">
          <div class="col-sm-4 video-container">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/oSYFb0XOuBc?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-sm-4 video-container">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/pKjv9SBlFzc?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-sm-4 video-container">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/9-B2xN-IbZA?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div> <!-- end row -->
      </div>
    </div>
  </div>
