<div class="section whitepaper ecosystem">
    <div class="text-box">
        <h5>Download now!</h5>
        <div class="underline"></div>
        <div class=subtitle>
            <a href="https://neufund.org/cms_resources/neufundwhitepapev20010917.pdf" target="_blank" >Whitepaper v.2.0</a>
        </div>
    </div> <!-- end text box -->
</div>
