@import '../../common/sass/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.info-box {
  margin-top: 15px;

  .header {
    font-size: $font-size-normal;
  }

  .caption {
    font-size: $font-size-smallest;
  }

  .value {
    font-size: $font-size-normal;
  }
}

.section {
  margin-top: 35px;
}

// Funds unlock special styles

.tx-info {
  :global {
    .row {
      margin-bottom: 10px;
    }
  }
}

.step-two {
  margin-top: 20px;
}

.tx-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-all;
}

.mono-space {
  font-family: monospace;
  font-size: .9em;
}

.my-ether-wallet-link {
  display: inline-block;

  @media (max-width: $screen-sm-max) {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}

.my-ether-wallet-logo {
  width: 42px;
  height: 42px;
}
