@import '../../common/sass/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.info-box {
  margin-top: 15px;

  .header {
    font-size: $font-size-normal;
  }

  .caption {
    font-size: $font-size-smallest;
  }

  .value {
    font-size: $font-size-normal;
  }
}

.section {
  margin-top: 35px;
}

// Funds unlock special styles

.tx-info {
  margin-top: 10px;

  :global {
    .row {
      margin-bottom: 10px;
    }
  }
}

.step-two {
  margin-top: 20px;
}

.tx-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-all;
}

.mono-space {
  font-family: monospace;
  font-size: .9em;
}
