@import '../../common/sass/variables';

$section-number-width: 35px;
$section-number-margin: 25px;
$section-number-combined: $section-number-width + $section-number-margin;

.page-container {
  margin-right: auto;
  margin-left: auto;
  background-color: $white;
  max-width: 1367px;
}

.content-container {
  padding: 44px $section-number-combined 0;
}

.section-header {
  position: relative;
  margin-bottom: 30px;
  line-height: 1.2;
  font-size: $section-title-font-size-smaller;
}

.header-number {
  display: inline-block;
  position: absolute;
  right: calc(100% + #{$section-number-margin});
  bottom: 0;
  border-bottom: 5px solid $blue-dark-light;
  padding-bottom: 5px;
  width: $section-number-width;
  text-align: right;
  color: $blue-dark-light;
  font-size: $font-size-small;
}

.form-row {
  margin-top: 30px;
}

.separator {
  position: relative;
  left: -$section-number-combined ;
  margin-top: 85px;
  margin-bottom: 85px;
  background-color: $gray;
  width: calc(100% + #{$section-number-combined });
}
