@import '../../../common/sass/variables';

.wallet-selector {
  margin-top: 30px;
  margin-bottom: 30px;

  :global(.btn) {
    margin-right: 15px;
  }

  .selected {
    background-color: $blue-lighter;
  }
}
