<div class="col-sm-4">
  <div class="feature">
    <div class="feature-image">
      <%- include("hi-res-img", { path: imgPath, alt}) %>
    </div>
    <div class="feature-text">
      <%= text %>
    </div>
  </div>
</div>
