<div class="col-md-6 person-info-container">
    <div class="person-info">
        <img class="rounded-image" src="<%= image %>"/>
        <div class="person-details">
            <h4 class="name"><a href="#" ><%= name %></a></h4>
            <h4 class="position"><%= title %></h4>
        </div>
    </div>
</div>