.advisors{
  padding-bottom: 0px;
    p{
        width: 426px;
        font-style: italic;
    }
    h6{
        font-size: 16px;
        font-weight: $font-weight-normal;
    }
    .h4.position{
        font-weight: $font-weight-normal;
    }
    h4{
      font-size: 16px;
      font-weight: $font-weight-more-bold;
    }
}

.has-carousel{
    overflow: hidden;
}

.owl-item{
    float: right;
    overflow: hidden;
}
.owl-dot{
    float: left;
    cursor: pointer;
}
.owl-dots span {
  overflow: hidden;
    background-color: #F7F8F9;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.07);
    border-radius: 20px;
    display: block;
    height: 9px;
    margin: 5px 7px;
    width: 9px;
}
.owl-dot.active {
    span{
        background-color: #D9DBDC !important;
    }
}
.owl-nav{
    display: none;
}
