@import '../../common/sass/variables';

@import '../../node_modules/font-awesome/scss/font-awesome';

// i am pretty sure that there is a better way to write it
// @todo selective import from bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap'; // sass-lint:disable-line clean-import-paths

@import 'header';
@import 'global';
@import 'common';
@import 'pictures';
@import 'participating';
@import 'invest-platform';
@import 'footer';
@import 'vex-modal';
@import 'ecosystem';
@import 'whitepaper';
@import 'press';
@import 'faq';
@import 'product';
@import 'product_menu';
@import 'product_new_grid';
@import 'platform-overview';
@import 'why-how';
@import 'quotes';
@import 'manual';
@import 'mailchimp';
