.person-info-container{
    margin-bottom: $padding-between-pictures;
    
    .person-info .person-details{
        float: left;
        margin-top: 27px;
    }
}

.section{
    position: relative;
    padding-top: $padding-between-sections;
    padding-bottom: $padding-between-sections;
    border-bottom: 1px #d9dbdc solid;  

    .see-more{
        position: absolute;    
        right: 50px;
        bottom: 0;        
        background: none;
        border: 0px;
        color: $blue;
        font-size: 18px;
        transition:all 1s;
    }

    .hidden-picture{            
        display: none;
    }
    .person-info h4{
        font-weight: normal;
        font-size: 16px;
        margin: 0px;
    }
    h3{
        margin-bottom: $margin-bottom-between-paragraphs;
        font-size: $section-title-font-size;
    }
    p{
        font-size: $section-p-font-size;
        margin-bottom: $margin-bottom-between-paragraphs;
    }
    ul{
        padding: 0 0 $space-bottom-between-elements $space-bottom-between-elements;
        li {
            color: $blue;
            font-weight: 500;
        }
    }

    button.btn.btn-white {
        border: 2px solid $blue-darker;
        background: white;
        color: $blue-darker;        
    }
}

[id^=team_member_], [id^=advisor_]{
    cursor: pointer;
}

.vex{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    h3, h4, a, span, div,p{
        font-family: "Montserrat", sans-serif !important;
    }
    .vex-content{
        background: white !important;
        border: 0 !important;
        border-radius: 0 !important;
        width: 60% !important;
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        padding-left: 40px !important;

        .vex-dialog-form{
            background: white !important;
        }
    }
    .person-info-container{
        text-align: center;
    }
    img.rounded-image{
        height: auto !important;
        width: 156px !important;
        float: none !important;
    }
    a.close-modal{
        background: transparent;
        border: 0;
        color: black;
        cursor: pointer;
        display: block;
        height: 44px;
        margin: 0;
        outline: 0;
        overflow: visible;
        padding: 10px;
        position: absolute;
        right: 0;
        text-decoration: none;
        top: 10px;
        transition: color 0.2s;
        width: 44px;
    }
    a.close-modal:before{
        content: "\00d7";
        display: block;
        font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
        font-size: 44px;
        left: 0;
        line-height: 35px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 35px;
    }
    .vex-dialog-buttons{
        display: none;
    }
    .title-container h4, .title-container span{
        font-size: 17px !important;
    }
    .title-container span{
        font-weight: 300;
    }
    h4.title{
        display: inline-block;
        margin: 0px;
    }
    .bio, .link, h4.title{
        padding-bottom: $space-bottom-between-elements;
    }
    .bio, .link{
        display: block;
        font-size: 14px;
    }
    .link{
        font-weight: 500;
    }
}