.person-info-container{
    margin-bottom: $padding-between-pictures;
    
    .person-info .person-details{
        float: left;
        margin-top: 27px;
    }
}

.section{
    position: relative;
    padding-top: $padding-between-sections;
    padding-bottom: $padding-between-sections;
    border-bottom: 1px $off-white solid;  

    .see-more{
        position: absolute;    
        right: 50px;
        bottom: 0;        
        background: none;
        border: 0px;
        color: $blue;
        font-size: 18px;
        transition:all 1s;
    }

    .hidden-picture{            
        display: none;
    }
    .person-info h4{
        font-weight: normal;
        font-size: 16px;
        margin: 0px;
    }
    h3{
        margin-bottom: $margin-bottom-between-paragraphs;
        font-size: $section-title-font-size;
    }
    p{
        font-size: $section-p-font-size;
        margin-bottom: $margin-bottom-between-paragraphs;
    }
    ul{
        padding: 0 0 $space-bottom-between-elements $space-bottom-between-elements;
        li {
            color: $blue;
            font-weight: 500;
        }
    }

    button.btn.btn-white {
        border: 2px solid $blue-darker;
        background: white;
        color: $blue-darker;        
    }
}