.section.commit-funds{    
    border-top: 1px $off-white solid;
    ul.compact-list {
        padding-left: 26px;
    }

    .foot {
          font-weight: $font-weight-more-bold;
    }
    h3{
        font-size: 20px;
    }
    .link{
      margin-top: 7px
    }
    .section-seperator{
      margin-bottom: 50px;
    }
    .number{
        position: absolute;
        top: 10px;
        border-bottom: 5px solid $blue-darker;
        color:$blue-darker;
        padding-left: 13px;
        font-size: $font-size-small;
        font-weight: $font-weight-more-bold;
    }
    .spacing{
      margin-bottom: 90px;
    }

  @media (max-width: $screen-md){
        .seperator {
            margin-bottom: 55px;
        }
        h3 {
            padding-top: 48px;

        }
        li {
            margin-left: -25px;
        }
    }
    @media (min-width: $screen-md){
      .content{
        padding-left: 50px;
      }
      .section-seperator{
        border-bottom: 1px $gray-extra-light solid;
        width: 407px;
        margin-left: 50px;
      }
      li{
        margin-left: 20px;
      }
    }
    .content{
    p{
        font-size: $font-size-small
    }
    p strong {
        font-weight: $font-weight-more-bold;
    }

    }
}
