.section.commit-funds{
    border-top: 1px $off-white solid;
    ul.compact-list {
        padding-left: 26px;
    }

    .foot {
          font-weight: $font-weight-more-bold;
    }
    h3{
        font-size: 20px;
    }
    .link{
      margin-top: 7px
    }

    .number{
        position: absolute;
        top: 10px;
        border-bottom: 5px solid $blue-darker;
        color:$blue-darker;
        padding-left: 13px;
        font-size: $font-size-small;
        font-weight: $font-weight-more-bold;
    }
    .spacing{
    }

  @media (max-width: $screen-md){
        .seperator {
            margin-bottom: 55px;
        }
        h3 {
            padding-top: 48px;

        }
        li {
            margin-left: -25px;
        }
    }
    @media (min-width: $screen-md){
      .content{
        margin-left: 50px;
      }
      .section-seperator{
        border-bottom: 1px $gray-extra-light solid;
      }
      li{
        margin-left: 20px;
      }
      .section-seperator{
        margin-bottom: 50px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
      }
    }

    .content{
      height: 335px;
      @media (max-width: $screen-md){
        height:auto;
      }
      position: relative;
      p{
          font-size: $font-size-small
      }
      p strong {
          font-weight: $font-weight-more-bold;
      }

      }
}
