$purple: #504186;

p.slim {
    font-weight: $font-weight-light;
}

.section ul.compact-list {
    padding: 0 0 $space-bottom-between-elements 0;

    li {
        font-size: $font-size-normal;
        i {
            font-size: 17px;
            line-height: 22px;
            margin-right: 10px;
        }
        font-weight: $font-weight-bold;
        list-style: none;
        margin-bottom: 7px;
        color: $green;
    }
}

#react-root {
    min-height: 360px;
}

.main-container {
    @media (max-width: $screen-sm) {
        overflow: hidden;
    }
}

.section {
    position: relative;
    padding-top: $padding-between-sections;
    padding-bottom: $padding-between-sections;
    border: 0;
    border-color: $off-white;
    border-style: solid;
    border-bottom-width: 1px;

    .hidden-picture{
        display: none;
    }

    h3{
        margin-bottom: $margin-bottom-between-paragraphs;
        font-size: $section-title-font-size;
        font-weight: $font-weight-more-bold;

      &.smaller {
        font-size: $section-title-font-size-smaller;
      }
    }
    p{
        font-size: $font-size-normal;
        margin-bottom: $margin-bottom-between-paragraphs;
    }
    a{
        font-weight: $font-weight-more-bold;
        vertical-align: top;
    }

    p.intro{
        font-weight: $font-weight-normal;
    }

    .pictures-container{
        padding-top: $padding-between-sections;
    }
}

.hexagon-wrapper {
    text-align: center;
    margin: 0px;;
    position: absolute;
    display: inline-block;

    .hexagon-blue {
        background-color: $blue-darker;
    }
    .hexagon-white-green {
        background-color: $white-green;
    }

    .hexagon {
        height: 100%;
        width: calc(100% * 0.57735);
        display: inline-block;
    }

    .hexagon:before {
        position: absolute;
        top: 0;
        right: calc((100% / 2) - ((100% * 0.57735) / 2));
        background-color: inherit;
        height: inherit;
        width: inherit;
        content: '';
        transform: rotateZ(60deg);
    }

    .hexagon:after {
        position: absolute;
        top: 0;
        right: calc((100% / 2) - ((100% * 0.57735) / 2));
        background-color: inherit;
        height: inherit;
        width: inherit;
        content: '';
        transform: rotateZ(-60deg);
    }
}


/* Portrait phones and smaller */
@media (max-width: $screen-md) {
    .hexagon-mobile{
        background: linear-gradient(145.45deg, #F2F9EA 0%, #F2F9EA 1.63%, #F8F9F9 85.72%, #F8F9FA 100%);
        height: 279px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: $padding-between-sections;
        h1{
            color: $blue-dark-light;
            margin: 0;
        }
        p{
            color: $blue-dark-light;
            font-weight: $font-weight-light;
        }
    }
    ul.navbar-right{
        li{
            float: left;
        }
    }
}

.people {
  .person-block {
    cursor: pointer;
    margin-bottom: 50px;
  }

  .person-info {
    padding-left: 114px;
  }

  .person-details {
    min-height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      margin: 0;
      font-size: $font-size-normal;
    }

    .name {
      font-size: $font-weight-more-bold
    }

    .position {
      font-weight: $font-weight-light;
    }
  }

  .person-image {
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    width: 92px;
    height: 92px;
    border-radius: 50%;
  }

  .highlight {
    border: 3px solid $blue;

    transform: scale(1);
    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(.46, .265, .285, 1.635);

    &:hover {
      opacity: 1;
      transform: scale(1.15);
    }
  }

  .see-more{
    position: absolute;
    right: 50px;
    bottom: -50px;
    background: none;
    border: 0;
    color: $blue;
    font-size: 16px;
    transition: all 1s;
  }

  .people-row {
    margin-top: 75px;
  }
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

// Blue text + blue bar, for section titles
.text-box {
    top: 10px;
    color: $blue-darker;
    margin-bottom: 3px;
    font-weight: $font-weight-light;
    .underline {
        margin-top: 1px;
        border-bottom: 5px solid $blue-darker;
        width: 36px;
    }
    h5 {
        margin-bottom: 5px;
        font-weight: $font-weight-light;
    }
    &.text-box-purple {
      color: $purple;
      .underline {
        border-bottom-color: $purple;
      }
    }
}

.full-screen-height {
    height: calc(100vh - 60px - 45px);
}
