.section.commit-funds{
    margin-top: $padding-between-sections;
    border-top: 1px $off-white solid;  
     
    h3{
        font-size: 20px;
    }
    .number{
        position: absolute;
        top: 10px;
        border-bottom: 5px solid $blue-darker;
        color:$blue-darker;        
        padding-left: 13px;
    }
    .content{
        padding-left: 50px;

        p strong {
            font-weight: 500;
        }
    }
    
}