body{
    -webkit-font-smoothing: antialiased;
    padding-top: $navbar-height + 10px;
    overflow-x: hidden;
}

#react-root {
    min-height: 362px;
}

.person-info-container{
    margin-bottom: $padding-between-pictures;

    .person-info .person-details{
        margin-top: -62px;
        margin-left: 105px;
        margin-bottom: 29px;
    }
}

.navbar-no-border{
    border:0 !important;
}
.section{
    position: relative;
    padding-top: $padding-between-sections;
    padding-bottom: $padding-between-sections;
    border-bottom: 1px $off-white solid;

    .see-more{
        position: absolute;
        right: 50px;
        bottom: 0;
        background: none;
        border: 0px;
        color: $blue;
        font-size: 18px;
        transition:all 1s;
    }

    .hidden-picture{
        display: none;
    }
    .person-info h4{
        font-size: 16px;
        margin: 0px;
    }
    h3{
        margin-bottom: $margin-bottom-between-paragraphs;
        font-size: $section-title-font-size;
        font-weight: $font-weight-more-bold;
    }
    p{
        font-size: $font-size-normal;
        margin-bottom: $margin-bottom-between-paragraphs;
    }
    ul{
        padding: 0 0 $space-bottom-between-elements $space-bottom-between-elements;
        li {
            color: black;
            font-weight: $font-weight-bold;
        }
    }
    a{
        font-weight: $font-weight-more-bold;
        vertical-align: top;
    }
    button.btn.btn-white {
        background: white;
        color: #09719B;
        height: 40px;
        padding: 5px 45px 5px 45px;
        box-shadow: 0 1px 1px 0 rgba(163,192,204,0.31);
        border: 1px solid #09719B;
    }

    p.intro{
        font-weight: $font-weight-normal;
    }

    .pictures-container{
        padding-top: $padding-between-sections;
    }
}

.person-block{
    cursor: pointer;
}



.hexagon-wrapper {
    text-align: center;
    margin: 0px;;
    position: absolute;
    display: inline-block;

    .hexagon-blue {
        background-color: $blue-darker;
    }
    .hexagon-white-green {
        background-color: $white-green;
    }

    .hexagon {
        height: 100%;
        width: calc(100% * 0.57735);
        display: inline-block;
    }

    .hexagon:before {
        position: absolute;
        top: 0;
        right: calc((100% / 2) - ((100% * 0.57735) / 2));
        background-color: inherit;
        height: inherit;
        width: inherit;
        content: '';
        transform: rotateZ(60deg);
    }

    .hexagon:after {
        position: absolute;
        top: 0;
        right: calc((100% / 2) - ((100% * 0.57735) / 2));
        background-color: inherit;
        height: inherit;
        width: inherit;
        content: '';
        transform: rotateZ(-60deg);
    }
}
