.easy-access {
    position: relative;

    h2 {
        color: $gray-darker;
        font-size: $section-title-font-size;
        font-weight: $font-weight-more-bold;
    }

    .section {
        position: static;
    }
    .shapes {
        position: static;
    }
    .left-hexagon {
        display: none;
    }
    img.img-responsive {
        display: initial;
    }

    .hexaghons-right {
      position: absolute;
      height: 505px;
      top: -3px;
      right: -117px;
    }

    @media (min-width: $screen-lg) {
        .shapes {
            img.img-responsive {
                position: absolute;
                right: 62px;
            }
        }
    }
    @media (min-width: $screen-md) {
        .left-hexagon {
            display: initial;
            position: absolute;
            left: -115px;
            top: 30px;
        }
    }

    @media (max-width: $screen-md) {
        #platform-second-col {
            .hexaghons-small-left {
              position: absolute;
              z-index: -10;
              left: -103px;
            }

            text-align: center;

            img {
                margin-top: 30px;
            }

            .btn {
                margin-top: 50px;
            }
        }
    }
}
