.easy-access {
    position: relative;
    .section {
        position: static;
    }
    .shapes {
        position: static;
    }
    .left-hexagon {
        display: none;
    }
    img.img-responsive {
        display: initial;
    }
    @media (min-width: $screen-lg) {
        .shapes {
            img {
                position: absolute;
                right: 62px;
            }
        }
        .right-hexagons {
          display: initial;
          position: absolute;
          width: 744px;
          height: 564px;
          top: -3px;
          left: 397px;
          z-index: -1;
        }
    }
    @media (max-width: $screen-md-max) {
      .right-hexagons{
        display: initial;
        position: absolute;
        width: 744px;
        height: 586px;
        top: -3px;
        left: 293px;
        z-index: -1;
      }
    }
    @media (min-width: $screen-md) {
        .left-hexagon {
            display: initial;
            position: absolute;
            left: -112px;
            top: 0px;
        }
  }

}
