.ecosystem {
    .logo {
      margin-left: 15px;
    }

    h2 {
      margin-left: 15px;
      color: $gray-darker;
      font-size: $section-title-font-size;
      font-weight: $font-weight-bold;
    }

    p {
        max-width: 400px
    }

    ul li {
        color: $black;
        line-height: 25px;
    }

    .goto-element {
        font-size: 19px;
        font-weight: $font-weight-more-bold;
        margin-top: 40px;
        margin-bottom: 6px;
    }

    .subtitle {
        font-size: 15px;
        font-weight: $font-weight-more-bold;
        line-height: 16px;
        width: 160px;
        margin-top: 5px;
        margin-bottom: 70px;

        a{
            color: black;
        }
    }

    .padme {
        padding-top: 3px;
    }
}
