.ecosystem{

    .logo {
       height: 29px;
       width: 159px;
       margin-bottom: 35px;
       margin-left: 15;
    }
    h3 {
      margin-left: 15;
    }
    .number{
        top: 10px;
        color:$blue-darker;
        border-bottom: 5px solid $blue-darker;
        margin-left: 80px;
        margin-right: 100px;

    }
}
