.faq {
  margin-top: 70px;

  section {
    margin-bottom: 60px;
  }

  .title {
    margin-bottom: 20px;
    color: $blue;
  }

  .faq-content {
    padding-left: 20px;
  }

  @media (min-width: $screen-md) {
    .title {
      color: $black;
      font-size: $section-title-font-size-smaller;
    }
  }

  .hidden-p {
    display: none;
    margin-bottom: 30px;
  }

  .group {
    width: 100%;

    .subgroup {
      width: 100%;
    }

    a {
      position: relative;
      color: $black-title;
      font-size: $font-size-normal;

      h4 {
        line-height: 29px;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
      }

      i {
        position: absolute;
        top: 4px;
        color: $blue;
      }

      &:focus,
      &:active {
        text-decoration: none;
      }
    }


    p {
      color: $black-title;
      font-size: $font-size-small;
      font-weight: $font-weight-light;
    }

  }


  .fixed {
    position: fixed;
  }

  .bs-docs-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;

    // sass-lint:disable nesting-depth
    .nav {
      a {
        border-right: 3px solid transparent;
        padding: 4px 20px;
        text-align: right;
        color: $blue;
        font-size: $font-size-normal;
        font-weight: $font-weight-bold;

        &:hover,
        &:focus {
          background: none;
        }

        &:hover {
          color: $black;
        }
      }

      .active {
        a,
        &:hover {
          border-right-color: $black;
          background-color: transparent;
          text-decoration: none;
          color: $black;
          font-weight: $font-weight-more-bold;
        }
      }

    }
  }
}
