.footer-container{
    position: relative;

    .footer-hex {
        position: absolute;
        top: 125px;
        right: -135px;
        height: 140px;
        overflow: hidden;
        z-index: -1;

        .hexagon-wrapper {
            position:static;
            width: 260px;
            height: 260px;
            transform: rotate(200deg) translateY(-20px);
        }
    }
}

.footer{
    padding-top: $padding-between-sections;
    ul{
        display: inline-block;
        padding: 0px;
        width:100%;
        text-align:center;
        position: relative;

        li{
            width: calc(100%/5);
            float: left;
            list-style-type: none;
            img{
                width: auto;
                height: 35px;
            }
        }
    }    
}

.footer-bottom{
    font-size: 12px;
    font-weight: $font-weight-more-bold;
    margin-top: $margin-bottom-between-paragraphs;
    margin-bottom: $margin-bottom-between-paragraphs;
    span, a {
        color: $gray-between-light-and-dark;
    }
    .handler{
        float: left;
    }
    .email{
        float: right;
        margin-right: 50px;
        margin-left: 50px;
        position: relative;
    }
}