.footer {
  border-bottom: 0;
  box-shadow: inset 0 1px 33px 0 rgba(217, 219, 220, .1); // sass-lint:disable-line no-color-literals
  background-color: $white-light-green;
  padding-bottom: 0;
  line-height: 19px;
  color: $gray-between-light-and-dark;
  font-size: 15px;

  &.section {
    padding-top: 35px;
  }

  .second-col {
    position: relative;
    z-index: 1;
    line-height: 27px;
    font-weight: $font-weight-bold;

    @media (max-width: $screen-sm-max) {
      .separated-mobile {
        margin-top: 20px;
      }
    }
  }

  .second-row {
    position: relative;
    z-index: 1;
    margin-top: 24px;
    margin-bottom: 50px;
    font-size: $font-size-smallest;
  }

  a {
    text-decoration: underline;
    color: $gray-lighter;
  }

  .social {
    margin-top: 18px;

    a {
      margin-right: 18px;
      color: $black;
      font-size: 18px;
    }
  }

  .footer-hex {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 267px;
    height: 183px;
  }
}
