h1 {
    font-weight: $font-weight-max-bold;
}

button.btn {
    border-radius: 20px;
    line-height: 20px;
    padding: 10px 40px;
    box-shadow: 0 1px 1px 0 $gray-lighter;
    font-weight: $font-weight-more-bold;

    &.btn-primary {
      background: linear-gradient(180deg, #2B5A70 0%, #355363 2.36%, #424A48 100%);

      &:hover {
        background: linear-gradient(180deg, #09719B 0%, #09719B 2.36%, #424A52 100%);
      }

      &:active  {
        background: linear-gradient(180.02deg, #09719B 0%, #09719B 16.74%, #424A52 100%);
      }
    }

    &.btn-white {
      background: white;
      color: #09719B;
      height: 40px;
      padding: 5px 45px 5px 45px;
      box-shadow: 0 1px 1px 0 rgba(163,192,204,0.31);
      border: 1px solid #09719B;
  }
}
