body {
  background-color: $white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;  // sass-lint:disable-line no-vendor-prefixes

  .sticky-header {
    margin-top: $navbar-height;
  }
}

label {
  font-weight: $font-weight-normal;
}

.background-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  z-index: -100;

  .background {
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    width: calc(1170px + 200px);
    height: 100vh;
  }
}

h1 {
  font-weight: $font-weight-max-bold;
}

.btn {
  border-radius: 20px;
  box-shadow: 0 1px 1px 0 $gray-lighter;
  padding: 10px 60px;
  line-height: 20px;
  font-weight: $font-weight-more-bold;

  a {
    .btn {
      line-height: 28px;
    }
  }

  &.btn-primary {
    background: linear-gradient(180deg, #345363 0%, #2a5a70 100%); // sass-lint:disable-line no-color-literals

    &:hover {
      background: linear-gradient(180deg, #34617e 0%, #2a6585 100%); // sass-lint:disable-line no-color-literals
    }

    &:active {
      background: linear-gradient(180deg, #2b4351 0%, #22485a 100%); // sass-lint:disable-line no-color-literals
    }
  }

  &.btn-white {
    border: 1px solid $blue;
    box-shadow: 0 1px 1px 0 rgba(163, 192, 204, .31); // sass-lint:disable-line no-color-literals
    background: $white;
    color: $blue;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

.modal-content {
  border-radius: 0 !important; // sass-lint:disable-line no-important
}

.react-app {
  margin-top: 80px;
}
