body {
  position: relative;
  margin-top: $navbar-height;
  background-color: $white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;  // sass-lint:disable-line no-vendor-prefixes
}

label {
  font-weight: $font-weight-normal;
}

.background-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  z-index: -100;

  .background {
    margin-right: auto;
    margin-left: auto;
    background-color: $white;
    width: calc(1170px + 200px);
    height: 100vh;
  }
}

h1,
h2 {
  font-weight: $font-weight-normal;
}

.btn {
  border-radius: 20px;
  box-shadow: 0 1px 1px 0 $gray-lighter;
  padding: 10px 60px;
  line-height: 20px;
  font-size: $font-size-normal-smaller;
  font-weight: $font-weight-normal;

  a {
    .btn {
      line-height: 28px;
    }
  }

  &.btn-link {
    &:hover {
      text-decoration: none;
    }
  }

  &.btn-primary {
    background-image: linear-gradient(106deg, $blue-off, $blue-off 2%, $black-lighter);
    color: $white;

    &:hover {
      &:enabled {
        background-image: linear-gradient(130deg, darken($blue-off, 3%), darken($blue-off, 3%) 2%, darken($black-lighter, 3%));
      }
    }
  }

  &.btn-green {
    box-shadow: none;
    background-color: $green;
    color: $blue-darker;

    &:hover {
      background-color: lighten($green, 1%);
    }

    &:active {
      background-color: darken($green, 1%);
    }
  }

  &.btn-white {
    border: 1px solid $blue;
    box-shadow: 0 1px 1px 0 rgba(163, 192, 204, .31); // sass-lint:disable-line no-color-literals
    background: $white;
    color: $blue;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

.modal-content {
  border-radius: 0 !important; // sass-lint:disable-line no-important
}

.main-wrapper {
  overflow-x: hidden;
}

.center {
  text-align: center;
}

.animated-loading-spinner {
  animation: sk-scaleout 1s infinite ease-in-out;
  margin: 100px auto;
  border-radius: 100%;
  background-color: $loading-indicator-color;
  width: 40px;
  height: 40px;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}


.full-height-container {
  $header-height: 70px;
  padding-bottom: 20px;
  min-height: calc(100vh - #{296px + $header-height}); // some space for footer & header

  @media (max-width: $screen-xs-max) {
    min-height: calc(100vh - #{517px + $header-height});
  }
}
