.navbar.navbar-default.navbar-fixed-top {
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: $font-weight-bold;
    background-color: #fff; // fix for commit background
    border: none;

    @media (max-width: $screen-lg) {
      background-color: white;
    }

    .background-wrapper-navbar {
      position: fixed;
      left: 0;
      right: 0;
      z-index: -100;

      .background {
        width: calc(1170px + 200px);
        margin-left: auto;
        margin-right: auto;
        height: $navbar-height;
        background-color: white;
        border-bottom: solid 1px $navbar-default-color;
      }
    }

    &.navbar-no-border .background-wrapper-navbar .background {
      border:0 !important;
    }

    .container {
        position: relative;
    }
    .navbar-nav {
        .fa {
            line-height: 20px;
        }
        li a {
            padding-right: $navbar-padding-horizontal;
            padding-left: 0;

            @media (max-width: $screen-sm) {
                padding-left: $navbar-padding-horizontal-small;
            }
        }
        &.navbar-right {
            li a {
                color: black;
                padding-right: $navbar-padding-horizontal-small;
                padding-left: $navbar-padding-horizontal-small;
            }
        }
    }
    .navbar-header {
        position: absolute;
        left: -37px;

        $logoSize: 30px;
        .navbar-brand {
            $offset: 10px;
            $logoHeight: $logoSize + $offset;
            height: $logoHeight;
            width: $logoSize + 22px;
            background: url(./assets/NeuFund_icon_white_300dpi.png);
            background-size: $logoSize;
            background-repeat: no-repeat;
            margin-top: ($navbar-height - $logoSize - $offset) / 2;
            padding: 0;
            border-right: 1px solid $gray-darker;
            padding-top: $offset;
            padding-bottom: $offset;
            background-position: center left;

            @media (max-width: $screen-sm) {
                margin-left: 20px;
            }
        }

        @media (max-width: 1335px) {
            position: static;
            left: inherit;

            .navbar-brand {
                border-right: none;
            }
        }
    }
}
