@import '../../common/sass/variables';

.navbar.navbar-default.navbar-fixed-top { // sass-lint:disable-line force-element-nesting
  border: 0;
  background-color: $white; // fix for commit background
  font-weight: $font-weight-bold;

  &.border {
    border-bottom: solid 1px $navbar-default-color;
  }

  @media (max-width: $screen-lg) {
    background-color: $white;
  }

  .background-wrapper-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: -100;

    .background {
      margin-right: auto;
      margin-left: auto;
      background-color: $white;
      width: calc(1170px + 200px);
      height: $navbar-height;
    }
  }

  .container {
    position: relative;
  }

  .navbar-nav {
    .fa {
      line-height: 20px;
    }

    li {
      a {
        padding-right: $navbar-padding-horizontal;
        padding-left: 0;

        @media (max-width: $screen-sm) {
          padding-left: $navbar-padding-horizontal-small;
        }
      }
    }

    &.navbar-right {
      li {
        a {
          padding-right: $navbar-padding-horizontal-small;
          padding-left: $navbar-padding-horizontal-small;
          color: $black;

          @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            padding-right: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .navbar-header {
    position: absolute;
    left: -37px;
    $logo-size: 30px;

    .navbar-brand {
      $offset: 10px;
      $logo-height: $logo-size + $offset;
      margin-top: ($navbar-height - $logo-size - $offset) / 2;
      border-right: 1px solid $gray-darker;
      background: url('./assets/NeuFund_icon_white_300dpi.png');
      background-repeat: no-repeat;
      background-position: center left;
      background-size: $logo-size;
      padding: $offset 0;
      width: $logo-size + 22px;
      height: $logo-height;

      @media (max-width: $screen-sm) {
        margin-left: 20px;
      }
    }

    @media (max-width: 1335px) {
      position: static;
      left: inherit;

      .navbar-brand {
        border-right: 0;
      }
    }
  }
}
