.invest-platform {
  h2 {
    margin-bottom: 25px;
    color: $gray-darker;
  }

  .product-image {
    margin: 0 auto;
    max-height: 520px;
  }

  .btn-container {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
  }

  .row {
    &.is-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &.is-flex > [class*='col-'] {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media (max-width: $screen-sm-max) {
    h2 {
      margin-bottom: 0;
    }

    .product-image {
      max-height: 380px;
    }
  }
}
