.main-manual {

padding-top: 30px;
overflow: hidden;

h1, h2 {
  margin-top: 0;
}

h2 {
  font-size: $section-title-font-size-smaller;
  font-weight: $font-weight-more-bold;
  margin-bottom: 1.5em;
}
  
ul {
  padding-left: 1.2em;
  font-weight: bold;
}

section {
  position: relative;
  padding-left: 50px;
  font-size: $font-size-small;
  
  margin-bottom: 60px;
}
section.introduction {
  padding-left: 0;
  p {font-size: $font-size-normal;}
}
.section-counter {
  position: absolute;
  top: -18px;
  left: -2px;
  @include underlined_number;
}

.section-content-blue {
  position: relative;
  color: #fff;
}
.section-content-blue-bg {
  position: absolute;
  z-index: -1;
  
  $blue_padding: 40px;
  width: calc(100% + #{$blue_padding});
  height: calc(100% + #{$blue_padding});
  top: -$blue_padding/2;
  left: -$blue_padding/2;
  border-radius: 10px;
  
  border: 1px solid #315568;
  box-shadow: 1px 1px 4px #ddd;
  
  background: #aaf; // fallback
  background: linear-gradient(-20deg, #424a52, #25607c);
}

mark {
  background: transparent;
  color: #f00;
}



}