.main-manual {

padding-top: 30px;

h1, h2 {
  margin-top: 0;
}

h2 {
  font-size: $section-title-font-size-smaller;
  font-weight: $font-weight-more-bold;
  margin-bottom: 1.5em;
}
  
ul {
  padding-left: 1.2em;
  font-weight: bold;
}

section {
  position: relative;
  padding-left: 45px;
  font-size: $font-size-small;
  
  margin-bottom: 60px;
}
section.introduction {
  padding-left: 0;
  p {font-size: $font-size-normal;}
}
.section-counter {
  position: absolute;
  top: -18px;
  left: -2px;
  @include underlined_number;
}

.section-content-blue {
  background-color: #99f;
}

mark {
  background: transparent;
  color: #f00;
}



}