.section.participating {
    .key-to-read {
        ul{
            padding: 0px;
        }
        ul li i{
            color: $green;
            margin-right: 10px;
        }

        ul li a{
            font-weight: $font-weight-bold;
        }  

        ul li{
            list-style: none;
            margin-bottom: $margin-bottom-between-paragraphs;
        }

        h3{
            font-size: 20px;
        }
    }
}