.section.participating {
    .key-to-read {
        h3{
            font-size: 20px;
        }
    }

    .info-img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 55px;
      max-width: 500px;
    }
}
