$press-carousel-breakpoint: 1200px;

.section.press {
    padding: 35px 0;
    background: $white;
    border-top-width: 1px;
    margin-top: 50px;

    .img-container {
      width: 162px;
      text-align: center;
      line-height: 40px;
    }

    img {
        width: auto;
        height: 100%;
    }

    .carousel-wrapper {
        display: none;
    }
}
@media (max-width: $press-carousel-breakpoint) {
  .section.press {
    .flex-row {
      display: none;
    }
    .img-container {
      margin: 0 auto;
    }
    .carousel-wrapper {
      display: block;
    }
  }
}


// carousel settings
.carousel-frame {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.carousel-slides {
  display: inline-block;
  & > li {
    position: relative;
    display: inline-block;
    width: 100vw;
    text-align: center;
  }
}
