.section.press{
    padding-top: $padding-between-sections;   
    @media (max-width: $screen-sm) {
        margin-top: 0;
        padding-bottom: 0 
    }
    .img-container{
        text-align: center;
        margin-top: $padding-between-sections;
        max-height: 25px;
        line-height: 40px;
    }
    border: 0;  
    img{
        width: auto;
        height: 100%;        
    }
}