.section.press{
    border: 0;
    padding: 35px 0;

    background: #fff; // hack!

    @media (max-width: $screen-sm) {
        margin-top: 0;
        // margin-bottom: $padding-between-sections;
    }

    .img-container {
      width: 162px;
      text-align: center;
      line-height: 40px;
    }

    img {
        width: auto;
        height: 100%;
    }
}
@media (max-width: $screen-sm) {
  .section.press {
    .flex-row {
      display: block;
    }
    .img-container {
      margin: 0 auto;
    }
  }
}
