.product-page {

  [data-entrance] {
    visibility: hidden;
  }
  // required for JS animation to work

  .product {
    border-bottom: none;

    background-position: center center;
    background-size: cover;
    padding: 140px 0;

    z-index: 0;
    @media (max-width: 1150px) {
      padding: 120px 0;
    }
    @media (max-width: 991px) {
      padding: 90px 0;
    }
    @media (max-width: 767px) {
      padding: 70px 0;
    }
    // copied from invision design
    color: #262b2f;
    background-color: $white-almost;
    &, & p {
      font-size: 14px;
      line-height: 24px;
    }
    p {
      color: #424a52;
      margin-bottom: 20px; // overrides common parameter to make it look more like in design
    }
    h2 {
      font-size: 26px;
      line-height: 32px;
    }
    h3 {
      font-size: 20px;
      line-height: 22px;

      padding-top: 5px;
      margin-bottom: 45px;

      font-weight: 400;
    }
  }

  .bg-white {
    background-color: #fff;
  }

  @media (min-width: 992px) {
    .product-l {
      img, .img-responsive {
        padding-left: 90px;
      }
    }

    .product-r {
      img, .img-responsive {
        padding-right: 90px;
      }
    }
  }

  .product-horiz-line {
    background-color: lighten(#d6d6d6, 6%); // #d6d6d6;
    width: 100%;
    height: 1px;
  }

  #product-header {
    background-color: #fff;
    padding-top: 10vw;
    padding-bottom: 1.5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 60px; // top bar
    h1 {
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 400;
      line-height: 49px;
      margin-bottom: 33px;
    }
  }
  #product-content {
    padding-bottom: 5vw;
    z-index: 1;
  }

  #product-header-container {
    display: flex;
    flex-wrap: wrap;
  }
  #product-header-text {
    width: 40%;
    order: 1;
    @media (max-width: 767px) {
      width: 100%;
      order: 3;
    }
  }
  #product-header-img {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    padding-left: 5%;
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 0;
    }
    img {
      max-width: 100%;
    }
  }
  #product-header-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
  }
  #product-header-button {
    font-size: 70px;
    color: #fff;
    cursor: pointer;
  }

  #product-video-background, #product-video-background iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  #product-video-foreground {
    opacity: 0.3;
    overflow: hidden;
    height: 100%; // fix for Safari
  }

  #product-video-fullscreen {
    display: none;

    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > iframe {
      width: 100%;
      height: 100%;
    }
  }
  #product-video-fullscreen-close {
    position: absolute;
    top: 60px;
    right: 10px;
    font-size: 50px;
    color: #fff;
  }

  .product-l, .product-r {
  }

  .product-image {
    .img-wrapper {
      margin-top: 70px;
    }
    img, .img-responsive {
      margin: 0 auto
    }
  }

  .product-r2-row-wrapper {
    padding-left: 30px;
    padding-right: 60px;
    max-width: 550px;
    margin: 0 auto;
  }
  .product-r2-1 {
    //padding-left: 50px;
    margin-bottom: 20px;
  }
  .product-r2-2 {
    //padding-right: 50px;
    text-align: right;
  }
  .product-r2-1 img, .product-r2-2 img {
    width: 100%;
    max-width: 400px;
  }
  @media (max-width: 991px) {
    .product-r2-row-wrapper {
      padding: 0 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .product-r2-1, .product-r2-2 {
      width: 47%;
      padding: 0 0;
    }
  }
  @media (max-width: 480px) {
    .product-r2-1, .product-r2-2 {
      width: 100%;
    }
  }

  .product-r3-1 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .product-r3-2 {
    padding-top: 110px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .product-r3-3 {
    padding-top: 140px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .product-r3-row-wrapper {
    padding-right: 80px;
    @media (max-width: 767px) {
      padding-right: 0;
    }
  }
  .img-r3 {
    width: 100%;
  }

  .product-l2-row-wrapper {
    position: relative;
    @media (max-width: 991px) {
      margin-top: 13vw;
    }

    img, img.img-responsive {
      padding-left: 0;
    }
  }
  .product-l2-1 {
    z-index: 1;
    position: relative;
    padding-right: 70px;
    @media (min-width: 992px) {
      padding-left: 20px;
    }
  }
  .product-l2-2 {
    position: absolute;
    width: 60%;
    top: -19%;
    right: 0%;
  }

  // --
  .product-r, .product-r2, .product-l2, .product-l {
    position: relative;
    .container {
      position: relative;
    }
  }
  .product-l .cf-row > div {
    position: relative;
  }
  .product-r-bg, .product-r2-bg, .product-l2-bg {
    position: absolute;

    max-height: 100%;
    height: 380px;
    z-index: -1;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .product-r-bg {
    left: 0;
    bottom: 20px;
    @media (max-width: 991px) {
      transform: translateX(-110px);
    }
  }
  .product-r2-bg {
    left: 0;
    top: 20px;
    @media (max-width: 991px) {
      transform: translateX(-400px);
    }
  }
  .product-l2-bg {
    right: 0;
    bottom: 100px;
  }
  #main_feature .product-l2-bg {
    transform: translateX(100px);
  }
  #benefits_of_blockchain .product-l2-bg {
    left: 0;
    bottom: 0;
    transform: translateX(-40px) translateY(30px);
  }

  // --

  .product-cols {
    padding-bottom: 0;
    h2 {
      margin-bottom: 3em;
    }

    & > div > div > .col-sm-4 {
      margin-bottom: 200px;
    }
  }

  a.product-cols-link {
    display: block;
    color: #A3C0CC;
    font-size: 14px;
    line-height: 18px;
    margin-top: 1em;
    text-decoration: underline;
    font-weight: normal;
  }
  .product-icons {
    color: #A3C0CC;
    line-height: 39px;
    padding-bottom: 2px;

    & > * {
      // overrides library
      font-size: 28px !important;
    }
  }

  // --

  .background-text {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 400;
    line-height: 73px;
    margin-bottom: 5px;
    @media (max-width: 480px) {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 15px;
    }
  }

  #startups_dashboard .background-text { color: $purple; }
  #investors_dashboard .background-text { color: $blue-darker; }

  // ---
  .product-last {
    text-align: center;
    h3 {
      margin-bottom: 55px;
    }
  }
  a.last-btn {
    color: #fff;
    display: inline-block;
    line-height: 20px;
    height: 40px;
    padding: 10px 75px;
    width: auto;
    margin: 0 auto 1em auto;
    border-radius: 20px;
    background: linear-gradient(180deg, #355a6f 0%, #3a5362 100%);
    box-shadow: 0 1px 1px 0 #A3C0CC;
  }
  .last-link {
    display: block;
    margin: 0 auto;
    color: #A3C0CC;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
  }

  .footer-bottom .footer-hex {
    // z-index: 0; // restores visibility
  }

}
