#product-menu {
  position: fixed;
  top:0; right: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  $active-color: $blue-darker;
  $hover-color: #0a719c;

  ul {
    padding: 0 0;
    margin: 0 0;
    list-style-type: none;
    text-align: right;
    a {
      display: inline-block;
      padding: 5px 30px;
      // padding-right is spacing between right screen edge and dot
      @media (max-width: 1150px) {
        padding: 5px 25px;
      }
      @media (max-width: 991px) {
        padding: 5px 15px;
      }
      @media (max-width: 767px) {
        padding: 5px 10px;
      }
      @media (max-width: 480px) {
        padding: 5px 7px;
      }

      &::after {
        // dot
        content: '';
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: inset 1px 1px 3px #aaa;

        margin-left: 10px; // spacing between dot and text
      }
      color: #d9dbdc;
      text-decoration: none;
    }
    span {
      display: none;
    }
    li:hover a {
      color: $hover-color;
      &::after { background-color: $hover-color; box-shadow: none;}
    }
    li.product-menu-active a {
      color: $active-color;
      &::after {background-color: $active-color; box-shadow: none;}
    }

    &:hover {
      li a span {
        display: inline-block;
      }
    }
  }
}
