.quotes {
  .row.space {
    margin-top: 40px;
  }

  h2 {
    color: $gray-darker;
    font-size: $section-title-font-size;
    font-weight: $font-weight-more-bold;
  }

  .text {
    line-height: 24px;
    font-weight: $font-weight-normal;
    font-style: italic;
  }

  .author {
    margin-bottom: 0;
    font-weight: $font-weight-bold;

    .position {
      font-weight: $font-weight-light;
    }
  }

  .company {
    font-weight: $font-weight-light;
  }

  .has-carousel {
    overflow: hidden;
  }

  .owl-item {
    float: right;
    overflow: hidden;
  }

  .owl-dot {
    float: left;
    cursor: pointer;
  }

  .owl-dots {
    span {
      display: block;
      margin: 5px 7px;
      border-radius: 20px;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .07);  // sass-lint:disable-line no-color-literals
      background-color: $white-almost;
      width: 9px;
      height: 9px;
      overflow: hidden;
    }

    .active {
      span {
        background-color: $gray !important; // sass-lint:disable-line no-important
      }
    }
  }

  .owl-nav {
    display: none;
  }
}
