.team.section{
    .person-info h4.title{
        font-weight: 300 !important;
    }
    h3.title{
        font-weight: 700;
    }
    p.intro{        
        font-weight: 400;
        // max-width: 366px;
    }    
    h4.name a{
        font-weight: 700;
    }
    h4.position{
        font-weight: 300;
    }
    .pictures-container{
        padding-top: $padding-between-sections;
    }
}