//colors
$white: #fff;

$gray: #D9DBDC;
$gray-darker: #424A52;

$black: #000;

// override bootstrap

//navbar
$navbar-height: 60px;
$navbar-border-radius: 0px;
$navbar-default-bg: $white;
$navbar-default-border: $gray;
$navbar-padding-horizontal: 22px;

// general

