//colors
$white: #fff;

$gray: #D9DBDC;
$black: #000;

// override bootstrap

//navbar
$navbar-height: 60px;
$navbar-border-radius: 0px;
$navbar-default-bg: $white;
$navbar-default-border: $gray;

// general

