.vex{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    h3, h4, a, span, div,p{
        font-family: "Montserrat", sans-serif !important;
    }
    @media (min-width: $screen-md){
      P{
        width: 140%;
      }
    }
    .vex-content{
        background: white !important;
        border: 0 !important;
        border-radius: 0 !important;
        width: 60% !important;
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        padding-left: 40px !important;

        .vex-dialog-form{
            background: white !important;
        }
    }
    .person-info-container{
        text-align: center;
    }
    img.rounded-image{
        height: auto !important;
        width: 156px !important;
        float: none !important;
        margin-left: -20px;
    }
    a.close-modal{
        background: transparent;
        border: 0;
        color: black;
        cursor: pointer;
        display: block;
        height: 44px;
        margin: 0;
        outline: 0;
        overflow: visible;
        padding: 10px;
        position: absolute;
        right: 0;
        text-decoration: none;
        top: 10px;
        transition: color 0.2s;
        width: 44px;
    }
    a.close-modal:before{
        content: "\00d7";
        display: block;
        font-size: 44px;
        left: 0;
        line-height: 35px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 35px;
    }
    .vex-dialog-buttons{
        display: none;
    }
    .title-container h4, .title-container span{
        font-size: $font-size-normal !important;
    }
    .title-container span{
        font-weight: $font-weight-light;
    }
    h4.position{
        display: inline-block;
        margin: 0px;
    }
    .bio, .link, h4.position{
        padding-bottom: $space-bottom-between-elements;
    }
    .bio, .link{
        display: block;
        font-size: 14px;
    }
    .link{
        font-weight: 500;
    }
    .handle{
        font-size: 14px !important;
    }
}
