.vex{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    h3, h4, a, span, div,p{
        font-family: "Montserrat", sans-serif !important;
    }
    p{
      width: 96%;
    }
    @media (min-width: $screen-md){
      p{
        width: 140%;
      }
    }

    .vex-close {
      &::before {
        color: black !important;
        height: 44px !important;
        width: 44px !important;
        font-size: 36px !important;
        line-height: 45px !important;
      }
    }

    .vex-content{
        background: white !important;
        border: 0 !important;
        border-radius: 0 !important;
        width: 95% !important;
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        padding-left: 40px !important;

        .vex-dialog-form{
            background: white !important;
        }

      @media (min-width: $screen-md){
        width: 60% !important;
      }

    }

    .person-info-container{
        text-align: center;
    }
    img.rounded-image{
        height: auto !important;
        width: 156px !important;
        float: none !important;
        margin-left: -20px;
    }
    .title-container h4, .title-container span{
        font-size: $font-size-normal !important;
    }
    .title-container span{
        font-weight: $font-weight-light;
    }
    h4.position{
        display: inline-block;
        margin: 0;
    }
    .bio, .link, h4.position{
        padding-bottom: $space-bottom-between-elements;
    }
    .bio, .link{
        display: block;
        font-size: $font-size-small;
    }
    .link{
        font-weight: $font-weight-bold;
    }
    .handle{
        font-size: $font-size-small !important;
    }
}
