@import '../../../common/sass/variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.form-container {
  position: relative;
  margin-bottom: 83px;

  @media (min-width: $screen-lg-min) {
    width: calc(100% - 83px);
  }
}

.estimated-reward-loading-indicator {
  margin-top: 0;
  margin-bottom: 5.5px;
  width: 30px;
  height: 30px;
}

.form-body {
  position: relative;
  z-index: 2;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25); // sass-lint:disable-line no-color-literals
  background: linear-gradient(143.71deg, #235f79 0%, #424a52 100%);  // sass-lint:disable-line no-color-literals
  padding: 0 20px 20px;
}

.input {
  display: inline-block;
  position: relative;
  width: calc(100% - 40px);

  .currency-deposit {
    position: absolute;
    top: 42px;
    right: 0;
    color: $white;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }
}

.reward {
  margin-top: 16px;
  color: $white;
  font-size: $font-size-smallest;
}

.amount {
  color: $white;
  font-size: 18px;

  .currency {
    text-transform: capitalize;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }
}

.description {
  line-height: 15px;
  color: $gray-lighter;
  font-size: $font-size-smallest;
}

.form-submit {
  position: relative;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .13); // sass-lint:disable-line no-color-literals
  background-color: $gray-lighter;
  cursor: not-allowed;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: $blue-dark-light;
  font-weight: $font-weight-bold;

  &.valid {
    background-color: $green;
    cursor: pointer;
  }
}

.hex {
  display: none;

  @media (min-width: $screen-lg-min) {
    display: block;
    position: absolute;
    right: -83px;
    bottom: -83px;
    z-index: 1;
    width: 365px;
    height: 365px;
  }
}
