@import '../../../common/sass/variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

$spacing-from-container: 22px;

.estimation-component {
  padding-top: $spacing-from-container;
  font-size: $font-size-smallest;
  font-weight: $font-weight-light;

  .introduction {
    margin-bottom: 0;
  }

  .right-container {
    width: 150px;
  }

  .loading-indicator {
    margin: 0;
    width: 20px;
    height: 20px;
  }

  .amount {
    display: inline-block;
    margin-right: 5px;
    width: 100px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
  }

  .currency-neu {
    margin-right: 5px;
    margin-left: 5px;
    font-size: $font-size-small;

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      margin: 0;
      font-size: 11px;
    }
  }

  .separator {
    margin-right: 5px;
    margin-left: 5px;
    font-size: $font-size-small;
  }

  .currency-eth {
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
  }

  .description {
    color: $gray-little-dark;
  }
}

.my-ether-wallet{
  font-size: $font-size-normal;

  .logo {
    height: 48px;
    width: 48px;
    margin-right: 10px;
  }
}

.estimation {
  display: flex;
  align-items: baseline;
}
