@import '../../../common/sass/variables';

$spacing-from-container: 22px;

.text-copyable {
  font-size: 22px;
}

.info-container {
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25); // sass-lint:disable-line no-color-literals
  background: linear-gradient(145deg, #f2f9eb 0%, #f8f9fa 100%); // sass-lint:disable-line no-color-literals
  padding: $spacing-from-container;
  line-height: 1.6;
  font-size: $font-size-smallest;
  font-weight: $font-weight-light;

  p {
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .verify-link {
    margin-left: 30px;
    font-weight: $font-weight-normal;
  }

  .gas-section {
    margin-top: 20px;

    .text-copyable {
      font-size: $font-size-small;
    }
  }
}
