@import '../../../common/sass/variables';

.container {
  font-size: $font-size-smallest;

  p {
    margin-bottom: 13px;
  }

  h3 {
    font-size: $section-title-font-size-smaller;
  }

  .text-copyable {
    font-size: $font-size-base;
  }
}
