@import '../../../common/sass/variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

$border-radius-size: 10px;
$commit-shadow: 0 1px 3px 0 rgba(0, 0, 0, .13);
$left-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
$left-gradient: linear-gradient(144deg, #235f79 0%, #424a52 100%);  // sass-lint:disable-line no-color-literals

.container {
  margin-bottom: 50px;
  border-radius: $border-radius-size;
  background-color: $white-dirty;
}

@media (min-width: $screen-sm-min) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

.area {
  padding: 40px;

  .header {
    text-transform: uppercase;
    color: $gray-almost-dark;
    font-size: $font-size-smallest;
    font-weight: $font-weight-bold;
  }

  .description {
    line-height: 19px;
    font-size: $font-size-normal;
    font-weight: $font-weight-light;
  }
}

.has-button {
  padding-bottom: 65px;
}

.left {
  position: relative;
  border-radius: $border-radius-size;
  box-shadow: $left-shadow;
  background: $left-gradient;
  color: $white;

  @media (min-width: $screen-sm-min) {
    &::after {
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -10px;
      border: 10px solid transparent;
      border-left-color: $gray-darker;
      width: 0;
      height: 0;
      content: ' ';
      pointer-events: none;
    }
  }

  .commit {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 $border-radius-size $border-radius-size;
    box-shadow: $commit-shadow;
    background-color: $gray-lighter;
    cursor: not-allowed;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: $blue-darker;
    font-size: $font-size-normal-smaller;
    font-weight: $font-weight-bold;

    &.valid {
      background-color: $green;
      cursor: pointer;
    }
  }
}

.right {
  color: $black-almost;
}

.reward-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: $font-weight-normal;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;

  .input {
    width: calc(100% - 110px);
  };

  .currency-deposit {
    position: relative;
    top: -5px;
    color: $white;
    font-size: 40px;
    font-weight: $font-weight-light;
  }
}
