@import '../../../common/sass/variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

.header {
  position: relative;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: $section-title-font-size-smaller;
}

.number {
  display: block;
  border-bottom: 5px solid $blue-dark-light;
  padding-bottom: 5px;
  width: $commit-number-width;
  text-align: right;
  color: $blue-dark-light;
  font-size: $font-size-small;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 14px;
  }

  @media (min-width: $screen-md-min) {
    display: inline-block;
    position: absolute;
    right: calc(100% + #{$commit-number-margin});
    bottom: 0;
  }
}
