.error {
   color: #f00; // sass-lint:disable-line no-color-literals
}

.loading-indicator {
  margin: 10px 0;
}

.block-history {
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  td,
  th {
    padding: 10px;
  }
}
