@import '../../../common/sass/variables';

.text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-ledger {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: $section-title-font-size;
  font-weight: $font-weight-bold;
}

.confirmation-loading-indicator {
  text-align: center;
  font-size: $font-size-small;
}

.error {
  margin-top: 40px;
  margin-bottom: 40px;
}
