<html>
    <head>
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>
    <body>
        <%- include('partials/navbar'); %>

        <h1> Hellooooooo <%= name %>!!!</h1>
    </body>
</html>