<!DOCTYPE html>
<html>
    <%- include('partials/head', {title: 'ICO Commit Page' }); %>
    <body>
        <%- include('partials/header', {active: 'commit'}); %>
        <div class="main container">
            <%- include('partials/home'); %>
            <%- include('partials/footer', content.footer); %>
            <script src="/main.js"></script>
            <noscript>
                <p>This page requires JavaScript to be enabled.</p>
            </noscript>
        </div>
    </body>
</html>