<html>
    <head>
        <link rel="stylesheet" type="text/css" href="app.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/header'); %>

        <div id="react-root"></div>

        <script src="/main.js"></script>
        <noscript>
            <p>This page requires JavaScript to be enabled.</p>
        </noscript>

        <h1> Hello <%= name %>!!!</h1>
    </body>
</html>