<html>
    <head>
        <link rel="stylesheet" type="text/css" href="app.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,900" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/header'); %>
        <div class="container">
            <div id="react-root"></div>
            <%- include('partials/participating'); %>
            <%- include('partials/team'); %>
            <%- include('partials/advisors'); %>
            <script src="/main.js"></script>
            
            <noscript>
                <p>This page requires JavaScript to be enabled.</p>
            </noscript>
        </div>
    </body>
</html>